<div class="panorama-sec-testing-steps bbt-use-steps">
    <div class="container">
        <div class="panorama-lab-test-heading-2 text-center">
            <h2>Using the Mira Basal Body thermometer is easy</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'steps_img_01.png' | file_img_url: '' }}" alt=""></div>
                    <h4>Step 1</h4>
                    <p>
                        Download the Mira App and connect your Mira Basal Body thermometer via Bluetooth. 
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'steps_img_02.png' | file_img_url: '' }}" alt=""></div>
                    <h4>Step 2</h4>
                    <p>Measure your BBT as soon as you wake up.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'steps_img_03.png' | file_img_url: '' }}" alt=""></div>
                    <h4>Step 3</h4>
                    <p>
                        Your results will automatically sync with the Mira App after a couple of minutes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "BBT Use Steps",
    "settings": [],
    "presets": [
      {
        "name": "BBT Use Steps"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}