<div class="faq-sec pt-greenbg bbt-faq">
   <div class="container">
      <div class="heading-1 ft-heading">
         <h2>FAQ</h2>
      </div>
      <div class="question-col pt-faq-sec">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card ">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  When should I start measuring my BBT?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Start recording your basal body temperature on the first morning after your period starts. <strong>Note:</strong> We highly recommend you measure your temperature <strong>only ORALLY</strong>.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  During which part of my cycle should I stop measuring my BBT?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">For the first 3-6 cycles, it's best to test until the first day of the next period. This will help build your basal body temperature patterns.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  How do I make my measurements as accurate as possible?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Measure your BBT as soon as you wake up and record it for at least 3 months! Tracking your BBT is a great idea, but tracking other important fertility data, like your hormones, can help you accurately pinpoint your ovulation and fertile window. </p>
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  What should I avoid doing while I measure my BBT?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Measure your BBT as soon as you wake up and during the same time over the following days. Avoid activity and close your mouth for at least 2 minutes before measuring. Electric blankets or heating pads can affect your BBT—if you use one, keep it at the same temperature every night. <strong>Note:</strong> Do not miss testing days!</p>
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                  Is tracking my BBT the best way to predict my ovulation?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Tracking your BBT can help you recognize your ovulation patterns during your cycles. However, we recommend combining BBT measurements with <a href="/products/fertility-max-starter-kit" target="_blank">The Mira Analyzer</a> for the highest possible accuracy. Many external factors can affect your BBT, like illness, stress, alcohol consumption, medical disorders, and medications.</p>
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d6">
                  <a href="javascript:void(0)" class="card-title">
                  How does my BBT change during my cycles?
                  </a>
               </div>
               <div id="d6" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                       <p class="description">Changes in your BBT correlate with changes in your menstrual cycle. Before ovulation, your BBT ranges from 97°F (36.1°C) and 97.5°F (36.4°C). After the egg releases during ovulation, your BBT increases between 97.6°F (36.4°C) and 98.6°F (37°C). </p>
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d7">
                  <a href="javascript:void(0)" class="card-title">
                  How will I know I ovulated?
                  </a>
               </div>
               <div id="d7" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                       <p class="description">After ovulation, your BBT will rise about 0.5°F (0.3°C). This temperature will remain until your next period begins. 
                       <p>Then, a slight temperature decrease may happen—followed by a rapid temperature increase. This will likely indicate your ovulation day. The highest probability for conception is during the days leading up to ovulation and on the actual ovulation day.</p></p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
<!--       <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://miracare.zendesk.com/hc/en-us" class="btn-custom btn-pink btn-lg">More FAQs</a></div> -->
   </div>
</div>
{% schema %}
  {
    "name": "BBT Faq",
    "settings": [],
    "presets": [
      {
        "name": "BBT Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}