<div class="hormone-animate-sec fertility-window-chart bbt-chart">
 <div class="container">
  <div class="heading-1">
    
      <h3>So how does your BBT vary during your cycle?</h3>
       <p>Changes in your basal body temperature (BBT) typically correlate with changes in your menstrual cycle. Before you ovulate, your BBT ranges between 97°F (36.1°C) and 97.5°F (36.4°C). After the egg releases during ovulation, your BBT increases and averages between 97.6°F (36.4°C) and 98.6°F (37°C).</p>
  </div>
  <div class="graph-chart-sec">
    <img src="{{ 'BBT_Graph.png' | file_img_url: '' }}" alt="">
  </div>
  <div class="btn-row-globel text-center padd-t-40">
   <a href="#" id="order_now_button" class="btn-custom btn-pink btn-lg">Order Now</a>
  </div>
 </div>
</div>
{% schema %}
  {
    "name": "BBT Chart",
    "settings": [],
    "presets": [
      {
        "name": "BBT Chart"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}