<div class="support-firtility-sec bbt-cta bbt-terms-conditions">
  <div class="support-firtility-row">
  <div class="left-text-sec">
    <div class="support-firtility-col">
               <h3>Pre-order terms & conditions</h3>
              <p>Pre-order means the product is currently not in stock and you must place your order as per usual if you’d like to secure it. The Mira Basal Body Thermometer is expected to ship in August 2023 and are subject to reasonable manufacturing and/or delivery delays.</p>
             <a href="https://www.miracare.com/pre-order-terms-conditions/" class="order_now_button btn-custom btn-pink btn-lg" target="_blank">Learn More</a>
            </div>
  </div>
  <div class="right-img-sec">
    <img src="{{ 'bbt_terms_cond_Image.png' | file_img_url: '' }}" alt="">
  </div>
  
</div>
</div>
{% schema %}
  {
    "name": "BBT Terms Conditions",
    "settings": [],
    "presets": [
      {
        "name": "BBT Terms Conditions"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}