<div class="support-firtility-sec bbt-cta">
  <div class="support-firtility-row">
  <div class="left-text-sec">
    <div class="support-firtility-col">
               <h3>How to accurately predict and confirm your ovulation & 6-day fertile window</h3>
              <p>Starting out by testing your BBT is great. To accurately predict your ovulation, use the Mira Monitor and pinpoint your most fertile days!</p>
             <a href="/products/fertility-max-starter-kit" target="_blank" class="btn-custom btn-pink btn-lg">Learn More</a>
            </div>
  </div>
  <div class="right-img-sec">
    <img src="{{ 'bbt_cta_Image.jpg' | file_img_url: '' }}" alt="">
  </div>
  
</div>
</div>
{% schema %}
  {
    "name": "BBT Cta",
    "settings": [],
    "presets": [
      {
        "name": "BBT Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}