<div class="fertility-confirm-sec white-sec-bg bbt-how-works">
  <div class="container">
    <div class="row ">
      <div class="col-md-7 order-md-2">
        <div class="fertility-info">
          <div class="heading-1 text-left">
            <h3>Measure your BBT to discover data about your fertile days</h3>
            <p class="sub-title">Here’s how it works:</p>
            <ul>
                  <li class="">In general, your BBT will rise if you are ovulating.</li>
                  <li class="">Measure your BBT throughout several cycles to get a better picture of your fertility. </li>
                  <li class="">Draw conclusions by looking at your charts on the Mira App.</li>
                  
               </ul>
          </div>
          
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="img-fertility">
          <img src="{{ 'bbt_how_works_left_Image.png' | file_img_url: '' }}" alt="icon img">
        </div>
      </div>
      
      
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "BBT How Works",
    "settings": [],
    "presets": [
      {
        "name": "BBT How Works"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}