<div class="rest-sec financing-sec product-benefits-sec kit-benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col">
            <img src="{{ 'kit-benefits-icon1.svg' | file_url }}" alt="">
          </div>
          <h3>Get free shipping to anywhere in the world</h3>
        </div>
      </div>
   <div class="col-md-4" style="display:none;">
        <div class="rest-col">
          <div class="rest-icon-col">
            <img src="{{ 'kit-benefits-icon2.svg' | file_url }}" alt="">
          </div>
          <h3>Use your FSA/HSA funds</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col">
            <img src="{{ 'kit-benefits-icon3.svg' | file_url }}" alt="">
          </div>
          <h3>1 year warranty</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col">
            <img src="{{ 'kit-benefits-icon4.svg' | file_url }}" alt="">
          </div>
          <h3>Get Mira now, pay later</h3>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Benefits 4 Columns",
    "settings": [],
    "presets": [
      {
        "name": "Benefits 4 Columns"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}