<div class="video-home-sec cc-cup-video-sec grey-bg padd-t-b-100">
   <div class="container">
      <div class="video-home-inner">
         <img src="{{ 'Rectangle_16.png' | file_img_url: '' }}" alt="icon img">
         <div class="video-home-text">
            <h3>A Little Help Making A Little Miracle</h3>
            <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg mira_video" data-video="Yy7mmnZOyr4">Watch Now <img src="{{ 'Play.svg' | file_url }}" alt="icon img"></a>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CC Cup Video",
    "settings": [],
    "presets": [
      {
        "name": "CC Cup Video"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}