<div class="can-cup-help-sec white-sec-bg padd-t-b-100">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h4>Can a Conception Cup help me get pregnant?</h4>
               <p>Definitely! The Ferti-lily Conception Cup is clinically proven to <strong>boost conception chances by 48%.</strong></p>
               <ul>
                  <li>Conceive at home: Trying to conceive remains an intimate moment enjoyed in the comfort of home.</li>
                  <li>Deliver sperm to the cervix: Cervical cups help up to 300% more sperm cells enter the cervical mucus's protective environment. </li>
                  <li>Easy to use: Comes with instructions, it’s easy to insert yourself, and comfortable due to its high-quality materials. </li>
                  <li>Sperm is less exposed: With The Ferti-lily Conception Cup, sperm is less exposed in the vagina, where there are toxic PH levels for sperm. </li>
               </ul>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-img">
               <img src="{{ 'can_cup_help_img_new.png' | file_url }}" alt="img">
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "CC Can Cup Help",
    "settings": [],
    "presets": [
      {
        "name": "CC Can Cup Help"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
