<div class="faq-sec mira-conception-faq padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  Will The Ferti-lily Cup be the right size for me?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>The Ferti-lily Conception Cup is available in one size and is suitable for all women
                        regardless of height, weight, age, or anything else. The cup clamps between the walls
                        of the vaginal canal upon insertion and opens at the opening of the cervix. The stem
                        may just be sticking out of the vagina or just inside - this varies from person to person
                        (the average vagina is 10-13 centimetres in length). In any case, you can easily reach it
                        to remove the cup. In a recent clinical study, 82% of women said the cup was the right
                        size when using The Ferti-lily to try for a baby.
                     </p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  How can The Ferti-lily Conception Cup help when trying to conceive?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>By placing
                        the sperm cells closer to the cervix after intercourse, conception cups can increase the
                        amount of sperm cells that reach the cervix, decrease the distance sperm cells must
                        swim to enter the cervix, and protect the sperm from the hostile pH of the vagina.
                        Studies have shown that using a cervical cup after intercourse can increase the amount
                        of sperm cells that swim into the cervical mucus by more than 300%. The Ferti-lily has
                        been clinically proven to increase the chances of conception by +48%, great news if you
                        are trying to get pregnant!
                     </p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  How do I know if the cup is in the right position?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion">
                  <div class="accordion-link-col">
                     <p>The conception cup needs to be at the top of the cervix and you can feel with your
                        finger if the cup is inserted correctly. Get used to the way the cup feels in both its
                        original shape and as an ‘umbrella’ and try and practice and insert before you need it to
                        ensure you know it is inserted correctly. There are two indents – one either side of the
                        stem – that you can only feel when the cup is in its original shape. You can also make
                        small adjustments to the position of cup using the stem 86% of women found the product easy to use, and 9/10 found it comfortable to wear
                        when trying to conceive.
                     </p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  How long can I use The Ferti-lily Conception Cup?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>The Ferti-lily Conception Cup can be re-used for up to six cycles, on the basis that
                        you use the cup roughly three times per cycle (so up to 18 times). Any longer than this
                        and the silicone may deteriorate, so replace the cup when you have completed your
                        sixth cycle. Should you notice any signs of deterioration or damage to the silicone at
                        any point, such as a tear, unusual odour, or discolouring, discard the cup and replace it.
                        A cup in poor condition can cause irritation, break or may harm sperm which is not
                        recommended when trying to get pregnant.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CC Cup Faq",
    "settings": [],
    "presets": [
      {
        "name": "CC Cup Faq"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}