<div class="gel-conception-sec padd-t-b-100">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="gel-img">
               <img src="{{ 'Rectangle_1808.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
         <div class="col-lg-9">
            <div class="gel-text">
               <h2>To double your chances, use<br> the cup with a conception gel!</h2>
               <div class="btn-row-globel padd-t-20"><a target="_blank" href="/products/fertilily-conception-gel" class="btn-custom btn-pink btn-lg">View Details</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CC Use Cup With Gel",
    "settings": [],
    "presets": [
      {
        "name": "CC Use Cup With Gel"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}