<div class="can-cup-help-sec white-sec-bg padd-t-b-100">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h4>Can a Conception Gel Help me get Pregnant?</h4>
               <p>The Ferti-lily Conception gel has been clinically proven to help you conceive. Unlike standard lubricants, it allows sperm to survive for more than 24 hours while in contact with the gel.</p>
               <ul>
                  <li><strong>Sperm friendly.</strong> Developed to be friendly to sperm with a neutral pH and a sperm-friendly osmolality.</li>
                  <li><strong>Increases pleasure.</strong> Increases the comfort and pleasure of intercourse while not harming sperm cells.</li>
                  <li><strong>Contains fructose.</strong> Fructose is a natural fruit sugar that gives sperm the energy for swimming.</li>
                  <li><strong>Supports fertility.</strong> The Ferti-lily Conception Gel provides natural-feeling lubrication during intercourse and provides a safe environment for sperm cells.</li>
               </ul>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-img">
               <img src="{{ 'gel_conception_img_new.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CG Can Gel Help",
    "settings": [],
    "presets": [
      {
        "name": "CG Can Gel Help"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}