<div class="faq-sec mira-conception-faq padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  How does The Ferti-lily Conception Gel differ from other lubricants?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Most lubricants are not designed to be sperm friendly. They can include ingredients
                        such as glycerine or preservatives that can negatively affect sperm count. Did you know
                        that even saliva can significantly reduce sperm motility?
                     </p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  How can I know that The Ferti-lily Conception Gel is safe for sperm and my
                  baby?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>The Ferti-lily Conception Gel has been put through testing according to FDA
                        standards for products in contact with sperm. These tests show that The Ferti-lily
                        Conception Gel is sperm friendly (it does not harm or kill sperm). The tests also show
                        that The Ferti-lily Conception Gel does not create a barrier for sperm, so they can
                        swim freely. Finally, it has been tested that The Ferti-lily Conception Gel is safe for
                        embryo development and does not affect the healthy development of an embryo.
                     </p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  Can I use The Ferti-lily Conception Gel with The Ferti-lily Conception Cup?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion">
                  <div class="accordion-link-col">
                     <p>Absolutely! The Ferti-lily Conception Gel can be used to make intercourse more
                        pleasurable at the same time as the Conception Cup to help increase your chances of
                        conception.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CG Gel Faq",
    "settings": [],
    "presets": [
      {
        "name": "CG Gel Faq"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}