<div class="how-to-conception gel-how-to-conception padd-t-b-100">
   <div class="container">
      <div class="heading-1 text-center">
         <h2>How to use The Ferti-lily <br>Conception Gel</h2>
         <p>The Ferti-lily Conception Gel was developed to relieve vaginal dryness and/or increase pleasure during intercourse. Use The Ferti-lily Conception Gel 
            to boost your chances during your most fertile window.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="can-cup-help-img text-right">
               <img src="{{ 'gel_conception_step01.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-8">
            <div class="can-cup-help-col">
               <h2>Step 1</h2>
               <p>Remove the seal from the tube.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="can-cup-help-img text-right">
               <img src="{{ 'gel_conception_step02.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-8">
            <div class="can-cup-help-col">
               <h2>Step 2</h2>
               <p>Squeeze a small amount of product onto your fingers and apply it to the vagina or penis.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="can-cup-help-img text-right">
               <img src="{{ 'gel_conception_step03.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-8">
            <div class="can-cup-help-col">
               <h2>Step 3</h2>
               <p>After each use, close the tube. Do not leave open between uses.</p>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CG How Use Gel",
    "settings": [],
    "presets": [
      {
        "name": "CG How Use Gel"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}