<div class="gel-conception-sec padd-t-b-100">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="gel-img">
               <img src="{{ 'Rectangle_1808_1.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
         <div class="col-lg-9">
            <div class="gel-text">
               <h2>Use The Ferti-lily Conception Gel with The Ferti-lily Conception Cup to double your chances!</h2>
               <div class="btn-row-globel padd-t-20"><a target="_blank" href="/products/fertilily-conception-cup" class="btn-custom btn-pink btn-lg">View Details</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CG Use Gel With Cup",
    "settings": [],
    "presets": [
      {
        "name": "CG Use Gel With Cup"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}