<div class="experts-mira-sec coaching-coaches-team">
  <div class="container">
    <div class="experts-mira-inner">
      <div class="heading-1 text-center">
        <h2>Meet our Coaches</h2>
      </div>
      <div id="experts-mira-slider">
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Meet_the_Coach_img.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Rosemary MacKenzie</div>
              <p>BSN, RN, CEN, MMCP, Marquette Method of NFP Instructor</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>Rose is an Natural Family Planning (NFP) expert trained in the Marquette Method and Sympto-Thermal Method (STM). As an NFP Practitioner at Mira she has coached women using the Mira monitor in regular cycles, irregular cycles, postpartum amenorrhea, chemo-induced menopause, and perimenopause. She assists individuals in optimizing their fertility health by suggesting lifestyle changes, supplements, and stress management as well as completing a thorough investigation of their menstrual cycle and Mira hormone data. She holds a State of Michigan RN license and works as an RN at a Women’s Health and Fertility Care Center that focuses on restorative health by using NaPro and FEMM practices.</p>
            </div>
          </div>
        </div>

        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Jessica_Joseph_img.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Jessica Joseph</div>
              <p>RN, BSN, MHA</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>Meet Jessica, our fertility expert with a decade of experience. Skilled in decoding Mira reports, she tailors actionable plans for your unique fertility journey. Jessica, a licensed RN in New York, holds a Master’s in Health Administration and is an active member of the American Society of Reproductive Medicine. Beyond numbers, Jessica will recommend actionable steps and lifestyle modifications, including personalized functional nutrition, effective dosing for supplements (with tips on improving egg quality), interpretation of your Mira reports with an in-depth hormone analysis, a realistic exercise regimen adapted to your lifestyle, and practical strategies for optimizing men's fertility, to enhance your chances of getting pregnant.</p>
              <p>Empowering you with knowledge and tools, Jessica is dedicated to enhancing your chances of a successful pregnancy.</p>
            </div>
          </div>
        </div>

        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'jackie_white.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Jackie White</div>
              <p>PT, DPT</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>Jackie is a Certified Holistic Fertility Doula, Natural Family Planning Instructor, and Pelvic Health Physical Therapist specializing in pelvic pain and fertility optimization. She specializes in supporting clients navigate their cycles with unexplained infertility, PCOS, after loss and post-hormonal birth control use. Her coaching philosophy prioritizes the four E’s: emotional support, education, empowerment, and ethical and inclusive care for all.</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Coaching Coaches Team",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Coaches Team"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}