<div class="experts-mira-sec coaching-coaches-team">
  <div class="container">
    <div class="experts-mira-inner">
      <div class="heading-1 text-center">
        <h2>Meet our Coaches</h2>
      </div>
      <div id="experts-mira-slider">
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Meet_the_Coach_img.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Rosemary MacKenzie</div>
              <p>BSN, RN, CEN, MMCP, Marquette Method of NFP Instructor</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>Rose is an Natural Family Planning (NFP) expert trained in the Marquette Method and Sympto-Thermal Method (STM). As an NFP Practitioner at Mira she has coached women using the Mira monitor in regular cycles, irregular cycles, postpartum amenorrhea, chemo-induced menopause, and perimenopause. She assists individuals in optimizing their fertility health by suggesting lifestyle changes, supplements, and stress management as well as completing a thorough investigation of their menstrual cycle and Mira hormone data. She holds a State of Michigan RN license and works as an RN at a Women’s Health and Fertility Care Center that focuses on restorative health by using NaPro and FEMM practices.</p>
            </div>
          </div>
        </div>

        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Jessica_Joseph_img.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Jessica Joseph</div>
              <p>RN, BSN, MHA</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>Jessica is a fertility clinician with over a decade of experience working directly with patients to achieve their parenthood dreams. She understands the critical importance of hormone tracking along with integrating holistic approaches. She aims to provide her clients with actionable steps to enhance their chances of getting pregnant. In addition to her fertility coaching experience, Jessica holds a New York State RN license and a Master's Degree in Health Administration. She is also an active member of The American Society for Reproductive Medicine (ASRM).</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Coaching Coaches Team",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Coaches Team"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}