<div class="panorama-sec-discover-items coaching-book-consultation-cta">
    <div class="container">
        <div class="panorama-discover-items">
            <div class="panorama-lab-test-heading-1 text-center">
                <h2>What can we help you with?</h2>
            </div>
            <div class="panorama-discover-row top-bordr-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Review your Mira charts</h4>
                <p>Our coaches have a first-hand experience with Mira and will help you understand how to interpret your data.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Create a holistic plan</h4>
                <p>Habit changes support your goals. Develop a powerful plan to reach your fertility goals faster.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Suitable for all fertility goals</h4>
                <p>Through a holistic approach, our coaches can help you plan your fertility.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i>Make empowering lifestyle changes</h4>
                <p>Coach will guide you through possible wellness, lifestyle, nutrition, supplements changes that will help you personally balance your sex hormones.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Build your confidence</h4>
                <p>Get mental and emotional support from a coach who understands what you are going through. </p>
            </div>
          <div class="btn-row-globel text-center padd-t-30">
   <a href="#" id="order_now_button" class="btn-custom btn-pink btn-lg">Book a Consultation</a>
  </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Coaching Book Consult",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Book Consult"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}