<div class="practical-steps-sec padd-b-70 padd-t-70 coaching-img-with-desc-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2 order-md-1">
                <div class="practical-steps-left">
                    <div class="panorama-lab-test-heading-1">
                        <h2>Build confidence to navigate your journey with ease</h2>
                    </div>
                    <p>At times, fertility can feel like an obstacle course. A fertility coach expert can help you build the emotional confidence your need through practical lifestyle changes. So you can smoothly navigate your journey and reach your goals faster.</p>
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2">
                <div class="practical-steps-img">
                    <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/coaching_img_with_desc4_img.png?v=1694594050" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Coaching Img With Desc4",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Img With Desc4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}