<div class="panorama-sec-testing-steps padd-t-70 ob-add-to-cart-cta1 coaching-add-to-cart-cta1">
    <div class="container">
        <div class="panorama-lab-test-heading-2 text-center">
            <h2>Find a convenient time and schedule your session.</h2>
          <P class="padd-t-10">It’s really simple.</P>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/ob_step01_img.png?v=1694089521" alt=""></div>
                    <h4>Step 1:<br>
                        Purchase the consultation on this page.</h4>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/ob_step02_img.png?v=1694089520" alt=""></div>
                    <h4>Step 2:<br>
                        Get a link via email to schedule your online session.</h4>
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/ob_step03_img.png?v=1694089521" alt=""></div>
                    <h4>Step 3:<br>
                        Talk to your fertility coach.</h4>
                   
                </div>
            </div>
          
        </div>
      <div class="btn-row-globel text-center padd-t-30">
   <form method="post" action="/cart/add" class="add-to-cart">
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
          <input name="add" value="Add to Cart" type="submit" class="btn-custom btn-pink btn-lg" />
        </form>
  </div>
    </div>
</div>
{% schema %}
  {
    "name": "Coaching Add To Cart Cta1",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Add To Cart Cta1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}