<div class="faq-sec padd-t-b-100 pt-greenbg ft-faq coaching-faq">
   <div class="container">
      <div class="heading-1 ft-heading">
         <h2>FAQ</h2>
      </div>
      <div class="question-col pt-faq-sec">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card ">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  Does my insurance cover fertility coaching?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">No.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  Can I reschedule my call? 
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Sure! Rescheduling is available 48 hours prior to a session.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  How do I prepare for the consultation?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">Once you schedule your first session you will complete a short survey to send to your coach.</p>
                     
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  What should I expect after the consultation?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p class="description">You will work together with your coach on an action plan to improve your fertility, mental and emotional health.</p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
<!--       <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://miracare.zendesk.com/hc/en-us" class="btn-custom btn-pink btn-lg">More FAQs</a></div> -->
   </div>
</div>
{% schema %}
  {
    "name": "Coaching Faq",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}