<div class="cofertility-page-heading">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h1>12% off the price for the Cofertility community with promo code: <span>COFERTILITY</span></h1>
        </div>
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Cofertility Heading",
    "settings": [],
    "presets": [
      {
        "name": "Cofertility Heading"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}