<div class="support-firtility-sec cw-confirm-wands-cta">
    <div class="support-firtility-row">
        <div class="left-text-sec">
            <div class="support-firtility-col">
                <h3>Did you ovulate during your last cycle?</h3>
                <p>Track your PdG levels with the Confirm Wands to find out. Get 40% off using code CONFIRM40 (limited time!).</p>
                <a href="javascript:void(0)" class="order_now_button btn-custom btn-pink btn-lg">Buy Now</a>
            </div>
        </div>
        <div class="right-img-sec">
            <img src="{{ 'cw-confirm-wands-cta-img.jpg' | file_img_url: '' }}" alt="">
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "CW Confirm Wands Cta",
    "settings": [],
    "presets": [
      {
        "name": "CW Confirm Wands Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}