<div class="hormone-animate-sec padd-t-b-100">
  <div class="heading-1">
    <div class="container">
      <h2>Spot your ovulation</h2>
      <p>Our integrated charts help you spot your ovulation easily.</p>
    </div>
  </div>
  <div class="container">
    <div class="hormone-animate-col">
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_a2viakmd.json" background="transparent"  speed="1" autoplay></lottie-player>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw Chart",
    "settings": [],
    "presets": [
      {
        "name": "Cw Chart"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
