<div class="faq-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>FAQ</h2>
    </div>
    <div class="question-col">
      <div id="accordion-2" class="accordion accordion-sec">
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d1">
            <a href="javascript:void(0)" class="card-title">
              How is Mira Fertility Plus different from other fertility monitors?
            </a>
          </div>
          <div id="d1" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>The Mira Monitor dynamically tracks hormone levels and gives you actual estrogen, LH, and PdG levels throughout your cycle. Other monitors detect ovulation using a static hormones baseline, which can cause false positives or not be helpful for someone with low levels. With Mira, you can see your unique hormone curves and get fertility alerts to remind you of the best days for conception or when to avoid unprotected sex. Mira allows you to see all phases of your cycle in addition to ovulation, and Mira is PCOS friendly!</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d2">
            <a href="javascript:void(0)" class="card-title">
              Is there a difference between blood tests and urine tests?
            </a>
          </div>
          <div id="d2" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
             <p>PdG is the main metabolite of progesterone in urine, which reflects the level of progesterone in the body for a period of time. During the menstrual cycle, PdG in urine and progesterone in blood have the same changing trend. However, due to the real-time fluctuation of progesterone in the blood, the test results only reflect the current level. The PdG in urine is affected by factors such as metabolism, time, drinking water, etc. Besides, a single numerical change at a certain point is not comparable. Generally, referring to the overall change trend is recommended.<br>
Generally, when urinary PdG is at 5μg/ml or more, you can confirm successful ovulation. However, PdG levels vary depending on the person. Due to individual differences and hormone changes, we suggest you pay more attention to the hormone pattern than the absolute value. When there is an increase of PdG reading for three consecutive days, and each day the measured PdG reading was about 1.25 fold of the reading test on the previous day, you can confirm ovulation. Mira utilizes state-of-the-art algorithms, which personalize the hormone patterns of each unique user.</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d3">
            <a href="javascript:void(0)" class="card-title">
              Can I use my current Mira Monitor with the Mira Confirm wands to track my PdG levels?
            </a>
          </div>
          <div id="d3" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>Yes, you can use your current Mira Monitor. However, if you bought Mira before September 2019, you might need to upgrade firmware. Contact our customer service at support@miracare.com to double-check.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d4">
            <a href="javascript:void(0)" class="card-title">
              How is Mira Fertility Confirm different from other fertility monitors?
            </a>
          </div>
          <div id="d4" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>The Mira Monitor dynamically tracks hormone levels and gives you numerical PdG hormone levels. In fact, Mira is the only Monitor on the market that adapts to you and offers completely personalized results & insights. Other methods using test strips may cause false positives, provide numerical results based on a specific spectrum, or provide inaccurate, unclear data.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d5">
            <a href="javascript:void(0)" class="card-title">
              What is the difference between the Mira Fertility Plus, and Mira Fertility Confirm?
            </a>
          </div>
          <div id="d5" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>The Monitors in Starter Kit Boxes are the same. The only difference is that the Mira Starter Kit Plus includes new Wands that allow you to measure two hormones: LH and estrogen. The Mira Fertility Confirm Wands include wands that allow you to measure your progesterone levels.</p>
            </div>
          </div>
        </div>
                
      </div>
    </div>
    <div class="btn-row-globel padd-t-60 text-center"><a href="https://help.miracare.com" target="_blank" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
  </div>
</div>
{% schema %}
  {
    "name": "CW Faq",
    "settings": [],
    "presets": [
      {
        "name": "CW Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
