<div class="fertility-confirm-sec white-sec-bg">
  <div class="container">
    <div class="row green-bg fertility-confirm-col">
      <div class="col-md-8 order-md-2">
        <div class="fertility-info">
          <div class="heading-1 text-left">
            <h3>Finally understand your whole fertility picture with Mira Fertility Confirm.</h3>
          </div>
          <div class="btn-row-globel padd-t-20"><a href="/products/fertility-confirm-test-wands" class="btn-custom btn-pink btn-lg">Order Now</a></div>
        </div>
      </div>
      <div class="col-md-4 order-md-1 mobile-hide">
        <div class="img-fertility">
          <img src="{{ 'fertility_confirm.jpg' | file_img_url: '' }}" alt="icon img">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw-PreOrderFinally",
    "settings": [],
    "presets": [
      {
        "name": "Cw-PreOrderFinally"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
