<div class="discover-sec fertility-game-changer track-pdg-sec grey-sec-bg">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Why track your PdG<br> hormone levels?</h2>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="discover-info">
          <p>Progesterone is the main hormone present during your luteal phase. Rising progesterone levels, which can be detected by the urine metabolite of progesterone, confirms you successfully ovulated.</p>
          <blockquote>
            <p>Mira Confirm accurately measures your numerical PdG levels to know when your fertile or infertile window is.</p>
          </blockquote>
          <p>Quickly identify your ovulation and automatically sync your data into the app. Plus, by combining LH, E3G, and PdG testing using with the Mira Monitor, 
            a 360-degree view of your fertility is now a possibility.
          </p>
          <p class="disclaimer">Disclaimer: <em>Please note that Progesterone (measured in ng/mL) should not be confused with PdG (measured in ug/mL), the urine metabolite of progesterone commonly used in at-home testing. Mira exclusively tracks PdG.</em></p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="discover-img">
          <img class="discover-image" src="{{ 'fertility_kit_img_02.png' | file_img_url: '' }}" alt="img">
          <div class="rotate-shape"><img class="how-to-image-line-1" src="{{ 'fertility_kit_shape.png' | file_img_url: '' }}" alt="img"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw TrackPdGHormoneLevels",
    "settings": [],
    "presets": [
      {
        "name": "Cw TrackPdGHormoneLevels"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
