<div class="exseed-measure-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>How ExSeed measure sperm</h2>
      <p>
      The ExSeed Home Sperm Test measures the Total Motile Sperm Count. This is the total amount of sperm cells moving forward per ejaculate. This number is one of the best predictors of male fertility because it measures 
the amount of sperm cells that could possibly reach the egg after intercourse. The number is made up of the three measurement volume, concentration and motility.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
   <div class="exseed-measure-img">
  <img src="{{ 'volume.svg' | file_url }}" alt="">

  </div>

  </div>
      
       <div class="col-md-6">
   <div class="exseed-measure-text">
     <h3>Volume</h3>
     <p>Semen volume is the total quantity of fluid ejaculated. A normal volume is more than 1.5ml. Below that is called 
       Hypospermia and can, for example, be caused by hormonal abnormalities or ductal blockage.</p>
  </div>
  </div>
  </div>
    
     <div class="row">
      <div class="col-md-6">
   <div class="exseed-measure-img">
  <img src="{{ 'concentration.svg' | file_url }}" alt="">

  </div>

  </div>
      
       <div class="col-md-6">
   <div class="exseed-measure-text">
     <h3>Concentration</h3>
     <p>Sperm concentration is a measurement of how many sperm cells there are in each milliliter of semen. A normal 
       concentration is above 15 million sperm cells per milliliter. Being below 15 million sperm cells per milliliter is 
       referred to as oligospermia, and it is called azoospermia if there are no sperm cells at all.</p>
  </div>
  </div>
  </div>
    
    
     <div class="row">
      <div class="col-md-6">
   <div class="exseed-measure-img">
  <img src="{{ 'motility.svg' | file_url }}" alt="">

  </div>

  </div>
      
       <div class="col-md-6">
   <div class="exseed-measure-text">
     <h3>Motility</h3>
     <p>Sperm motility is the forward motion of sperm cells. For a sperm to fertilize the egg, it must travel quickly through the 
       female reproductive system, which requires strong forward swimming motion. Our algorithm tracks forward motility, which is also 
       referred to as progressive motility. Normal motility is above 32% 
       of the sperm cells moving, below that is called asthenozoospermia.</p>
  </div>
  </div>
  </div>


  </div>
</div>




{% schema %}
  {
    "name": "EX How Measure Sperm",
    "settings": [],
    "presets": [
      {
        "name": "EX How Measure Sperm"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
