<div class="testimonials-sec exseed-review-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h3>ExSeed Health Reviews</h3>
    </div>
    <div class="row">

    

      <div class="col-md-12">
    <div id="exseed-review-slider" class="arrow-slider-nav">
      <div class="testimonials-col">
        
        <div class="testimonials-text">
          <h5>Digifazz</h5>
          <div class="review-star-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></div>

          <p>I was worried when I tried a manual home-test kit and got strange results but ExSeed’s 
            were definitive. I ordered this kit, delivered within 3 days and I...</p>
          
        </div>
      </div>
      <div class="testimonials-col">
       
        <div class="testimonials-text">
          <h5>Anders</h5>
          <div class="review-star-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></div>

          <p>During the corona, my partner and I were advised that I took a fertility test at home before deciding on what to do in regards to our fertility. The ordering...</p>
          
        </div>
      </div>
      <div class="testimonials-col">
        
        <div class="testimonials-text">
          <h5>Peter</h5>
          <div class="review-star-rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></div>

          <p>I was looking for home-based and accessible data and reassurance. I did my research and went with ExSeed, based on company profile and reviews.</p>
          
        </div>
      </div>
    </div>

  </div>

  </div>
    <div style="display:none;" class="btn-row-globel text-center padd-t-40"><a href="#" class="btn-custom btn-pink btn-lg">More Reviews</a></div>

  </div>
</div>






{% schema %}
  {
    "name": "EX Health Review",
    "settings": [],
    "presets": [
      {
        "name": "EX Health Review"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
