
<div class="video-home-sec exseed-video-sec grey-bg padd-t-b-100">
<div class="container">

  <div class="video-home-inner">

   
    
   
    <img src="{{ 'exseed_intro_video_img.png' | file_img_url: '' }}" alt="icon img">
    <div class="video-home-text">
      <h3>ExSeed introduction video</h3>
      <p>How to guide: Your step-by-step instruction video on how to get started.</p>
      <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg">Watch Now</a>
    </div>
  </div>

</div>

</div>



{% schema %}
  {
    "name": "EX Intro Video",
    "settings": [],
    "presets": [
      {
        "name": "EX Intro Video"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
