<div class="why-exseed-sec track-pdg-sec">
  <div class="why-exseed-inner green-bg">
     <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="discover-info">
         
      <h3>Why Test with ExSeed?</h3>
   
          <p>Sperm quality plays a critical role in fertility, especially when trying to conceive. <strong> ExSeed shows overall sperm health and helps you improve it to reach your goals! </strong> This CE Certified device and app provides full-spectrum Sperm 
            Health results with over 95% accuracy — without having to leave your home to get them. 
          </p>
          <p>Plus, the app offers a personalized lifestyle intervention program that helps you improve your sperm quality with tips depending on your results. ExSeed tests come in discreet packaging and only take 15 minutes to get results. Have questions? ExSeed 
            fertility experts are ready to help guide you on your fertility journey!</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="discover-img">
         
           <img class="discover-image"  src="{{ 'why_exseed_devic_CE.svg' | file_url }}">
          <div class="rotate-shape">
          <img class="how-to-image-line-1"  src="{{ 'why_exseed_vactor.svg' | file_url }}">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



{% schema %}
  {
    "name": "EX Why Test",
    "settings": [],
    "presets": [
      {
        "name": "EX Why Test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
