<div class="product-detail-tab what-inside-tabs padd-t-b-100">
   <div class="container">
      <div class="product-kit-tabs">
         <ul class="nav nav-pills" role="tablist">
            <li class="nav-item active"> <a href="#tab01" class="nav-link" data-toggle="pill">What’s Inside</a> </li>
            <li class="nav-item"> <a href="#tab02" class="nav-link" data-toggle="pill">Product Details</a> </li>
            <li class="nav-item"> <a href="#tab03" class="nav-link" data-toggle="pill"> Warranty/Return Policy</a> </li>
       
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab01">
               <div class="row">
                 <div class="col-lg-6 order-lg-2">
                     <div class="pro-kit-tab-text">
                        <h3>1 ExSeed Analysis Device (CE marked)</h3>
                        <div class="list-text-pro-kit">
                          <ul>
                            <li>2 Collection cups and lids</li>
                            <li>2 Sample slides</li>
                            <li>2 wipes</li>
                          </ul>

                        </div>
                       <div class="tab-vactor-col text-right tablet-hide"><img src="{{ 'what_inside_vactor01.svg' | file_url }}" alt=""></div>
                     </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                     <div class="pro-kit-tab-img padd-r-0 mobile-show">
                        <div class="pro-kit-thumb"> <img src="{{ 'what_inside_img01.png' | file_img_url: '' }}" alt=""></div>
                       
                     </div>
                  </div>
                  
               </div>
            </div>
      
            <div class="tab-pane" id="tab02">
               <div class="tab-content-globel">
                 
                    <div class="list-text-pro-kit">
                          
                       <ul>
                         <li>The tests come in discreet packaging and only take 15 minutes to get results.</li>

                         <li>ExSeed fertility experts will be ready for any questions and will help guide you on your journey.</li>

                       
                       </ul>
                      <p>This product is available only for UK and EU customers. Average shipping is 2-4 working days.</p>
                        </div>


                 
 
                
                  <div class="tab-vactor-col"><img src="{{ 'what_inside_vactor02.svg' | file_url }}" alt=""></div>
               </div>
            </div>
            <div class="tab-pane" id="tab03">
               <div class="tab-content-globel">
                  
                  <div class="tab-text-row">
                     <h3>ExSeed Health will exchange/refund based on the terms of this exchange and refund policy provided:</h3>
                     <div class="list-text-pro-kit">
                          
                       <ul>
                         <li>The claim is made within 14 days of purchase</li>

                         <li>The information provided is complete and accurate</li>

                         <li>Submitted evidence supports the claim that the goods are unused</li>

                         <li>The product has not, in our opinion, been mis-handled
                           or used for other than the person intended.</li>
                       </ul>
                        </div>
                  </div>
                  <div class="tab-text-row">
                     <div class="btn-row-globel contact-btn-row d-flex">
                        
                        <a href="#" class="btn-custom btn-pink btn-lg">More info</a>
                     </div>
                  </div>
                  <div class="tab-vactor-col"><img src="{{ 'what_inside_vactor03.svg' | file_url }}" alt=""></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>






{% schema %}
  {
    "name": "EX Whats Inside",
    "settings": [],
    "presets": [
      {
        "name": "EX Whats Inside"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
