<div class="faq-sec padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  Can I use Mira if my cycles are irregular?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! With Mira, you can see your actual hormone concentrations. As long as you ovulate, you will be able to know when you ovulate—even with irregular cycles.</p>
                  </div>
               </div>
            </div>
           <div class="card" style="display:none;">
               <div class="card-header collapsed" data-toggle="collapse" href="#d10">
                  <a href="javascript:void(0)" class="card-title">
                  How does Mira work for people with PCOS? Which kit is best for PCOS?
                  </a>
               </div>
               <div id="d10" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Mira is very PCOS-friendly and many women with PCOS prefer it to track their cycles. Unlike traditional OPKs, Mira provides you with actual hormone concentration values. With PCOS elevated LH is usually common - this means OPKs can give you a false positive all the time.Mira doesn’t use a pre-determined average, so you can see your actual hormone levels and curve even if your baseline LH is high (such as with PCOS) if you have multiple LH peaks, or irregular ovulation.</p>
                     <p>If you have PCOS, we recommend you to try the <a target="_blank" href="/products/fertility-plus-starter-kit-b">Mira Super Bundle</a>.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  I'm trying to get pregnant. How can Mira help me?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>People trying to conceive don’t always know when their most fertile days are. Researchers found that only 12.7% of people with ovaries know when they ovulate correctly, and only 55% estimated their ovulation within their fertile window. Mira tracks key fertility hormones concentrations to give you personalized insights and maximizes your chances of conceiving.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  When will Mira Monitor be shipped?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>On average, US, UK, and AU orders will arrive in 3-6 business days. Other countries may take longer. Sometimes, the shipping time may take a little longer due to high demand. Please refer to the time on the checkout page.</p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>
{% schema %}
  {
    "name": "Faq",
    "settings": [],
    "presets": [
      {
        "name": "Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
