<div class="medical-advisors-sec padd-b-60 fertility-clinics">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Mira is trusted by fertility clinics</h2>
      <p>Large and innovative clinics around the world choose Mira as an accurate, reliable, and consistent remote testing technology. </p>
    </div>
    <div id="fertility-clinics" class="">
      <div class="testimonials-col">
        <div class="testimonials-inner-col">
          <div class="testimonials-img">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/fertility_clinics_logo01.svg">
          </div>
        </div>
      </div>
      <div class="testimonials-col">
        <div class="testimonials-inner-col">
          <div class="testimonials-img">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/fertility_clinics_logo02.svg">
          </div>
        </div>
      </div>
      <div class="testimonials-col">
        <div class="testimonials-inner-col">
          <div class="testimonials-img">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/fertility_clinics_logo03.svg">
          </div>
        </div>
      </div>
      <div class="testimonials-col">
        <div class="testimonials-inner-col">
          <div class="testimonials-img">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/fertility_clinics_logo04.svg">
          </div>
        </div>
      </div>
      <div class="testimonials-col">
        <div class="testimonials-inner-col">
          <div class="testimonials-img">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/fertility_clinics_logo05.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Fertility Clinics",
    "settings": [],
    "presets": [
      {
        "name": "Fertility Clinics"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}