<div class="hormone-animate-sec fertility-window-chart padd-t-b-100">
  <div class="heading-1">
    <div class="container">
      <h3>Get a clear view of your fertility window</h3>
   
    </div>
  </div>
  <div class="hormone-animate-col" style="text-align:center;">
     <img src="{{ 'starter-kit-chart.svg' | file_url }}" >
  </div>
  <div class="btn-row-globel text-center padd-t-40">
   
  </div>
</div>


{% schema %}
  {
    "name": "Fertility Window Chart",
    "settings": [],
    "presets": [
      {
        "name": "Fertility Window Chart"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
