<div class="rest-sec financing-sec padd-t-b-100">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="rest-col FadeUp hiddenx visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_bn0sfvq3.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>100% Money-Back Guarantee</h3>
          <p>
            Get your money back if no LH surge was detected after 3 months of using Mira.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col FadeUp hiddenx visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_0r5t0akl.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>Financing Available</h3>
          <p>
            Pay only 25% of your order’s total at check-out and 25% bi-weekly with no interest.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col FadeUp hiddenx visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_vworl42c.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>HSA/FSA</h3>
          <p>
            Pay with your HSA/FSA card to <br>get 
            refunded.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Financing",
    "settings": [],
    "presets": [
      {
        "name": "Financing"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
