<div class="green list-sec">
  <div class="container">
    <h3><span><img src="{{ 'white_round_tick.svg' | file_url }}" alt="icon"></span> Get Mira with your FSA/HSA dollars!</h3>
    <div class="btn-row-globel"><a target="_blank" href="https://help.miracare.com/en_us/categories/fsahsa-HJQjc6fBi" class="order_now_button btn-custom btn-pink btn-lg" aria-describedby="a11y-external-message">Learn More</a></div>
  </div>
</div>


{% schema %}
  {
    "name": "Fsa Hsa Cta",
    "settings": [],
    "presets": [
      {
        "name": "Fsa Hsa Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}