<div class="panorama-sec-testing-steps ft-how-to-brew">
    <div class="container">
        <div class="panorama-lab-test-heading-2 text-center">
            <h2>How to brew:</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'how_to_brew_Image01.png' | file_img_url: '' }}" alt=""></div>
                    <h4>
                        Pop one of Mira’s Fertility Tea bags into a mug</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'how_to_brew_Image02.png' | file_img_url: '' }}" alt=""></div>
                    <h4>
                        Pour over boiling water</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testing-steps-col">
                    <div class="testing-steps-img-col"><img src="{{ 'how_to_brew_Image03.png' | file_img_url: '' }}" alt=""></div>
                    <h4>
                        Enjoy it hot or iced!</h4>
                </div>
            </div>
        </div>
      <div class="footer-text mt-4 mb-4"><p>Note: If sediments are released during brewing, this is due to our natural ingredients peeling.<br>
Store in a dry area at room temperature. Fasten the zipper after opening.</p></div>
    </div>
</div>

{% schema %}
  {
    "name": "FT How To Brew",
    "settings": [],
    "presets": [
      {
        "name": "FT How To Brew"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}