<div class="discover-sec fertility-game-changer">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Mira Fertility Plus is a Game Changer!</h2>
      <p>The Estrogen hormone is a key component in understanding your cycle. With Mira Fertility Plus, you are able to see your 
        Estrogen and LH levels, know your cycle phases, hormone patterns, and all fertile days and infertile days.
      </p>
      <p class="disclaimer">Disclaimer: <em>The device is only for predicting fertility and ovulation.</em></p>
    </div>
    <div class="row">
      <div class="col-lg-7 order-lg-2">
        <div class="discover-info">
          <h3>Know Your Ovulation Earlier</h3>
          <p>Track your whole cycle and what is happening with your hormones. Get a larger fertile window (6 days) and clear insights.</p>
          <h3>Get Numeric Hormone Data</h3>
          <p>Not just knowing the absolute number of LH and Estrogen levels, but also their trend and relationship to each other.</p>
          <h3>Uncover Your Unique Hormone Patterns</h3>
          <p>Be navigated by personalized insights from the App and dedicated cycle analysis from the support team.</p>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="discover-img">
          <img class="discover-image" src="{{ 'fertility_kit_img.png' | file_img_url: '' }}" alt="img">
          <div class="rotate-shape"><img class="how-to-image-line-1" src="{{ 'fertility_kit_shape.png' | file_img_url: '' }}" alt="img"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Game Changer",
    "settings": [],
    "presets": [
      {
        "name": "Game Changer"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
