<div class="rest-sec game-changer-sec padd-t-100">
  <div class="container">
    <div class="heading-1">
      <h2>Mira is the Future of Hormone Tracking
      </h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_qu6metiy.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>Pinpoint ovulation sooner</h3>
          <p>
            Track your full cycle and get hormone updates. See your 6-day fertile window and get crystal clear insights even if you have irregular cycles or PCOS.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_ragkberv.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>Numeric hormone scores</h3>
          <p>
            Say hello to AI-powered fertility clarity and goodbye to guesswork — for good. Mira is the only fertility tracker that gives you actual LH, E3G, and PdG hormone scores, levels, and trends.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_91jecxm4.json" background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <h3>Discover hormone patterns</h3>
          <p>
            Unlike traditional OPKs, Mira’s hormone patterns are 100% true to your cycle. See insights cycle analysis, join the Mira community, get exclusive promotions and other perks on the Mira App.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-row-globel text-center padd-t-80">
      <a href="https://www.miracare.com/how-mira-works/" class="btn-custom btn-pink btn-lg">Discover More</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Game Changer Grid",
    "settings": [],
    "presets": [
      {
        "name": "Game Changer Grid"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
