<div class="rest-sec how-to-use-sec padd-t-b-100" style="background-color: #fff;">
  <div class="container">
    <div class="heading-1">
      <h2>How to Use the Mira Cup</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'how_to_use01.svg' | file_url }}" alt="icon"></div>
          <p>
            Boil the menstrual cup for 5-10 minutes and wash your hands before use!
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'how_to_use02.svg' | file_url }}" alt="icon"></div>
          <p>
            Create a U shape by pressing the sides of the cup between your fingers.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'how_to_use03.svg' | file_url }}" alt="icon"></div>
          <p>
            Get in a sitting or squatting position and push the curved edge of the folded cup into your vagina. Push until you reach the cervix.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'how_to_use04.svg' | file_url }}" alt="icon"></div>
          <p>
            Check if it was properly placed by trying to turn the cup slightly. If it doesn’t move, you’re good to go! If it does, remove and try again.
          </p>
        </div>
      </div>
    </div>
    <div class="btn-row-globel text-center padd-t-80">
      <a href="https://www.miracare.com/blog/how-to-insert-a-menstrual-cup/" class="btn-custom btn-pink btn-lg">Discover More</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "How To Use Mira Cup",
    "settings": [],
    "presets": [
      {
        "name": "How To Use Mira Cup"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
