<div class="rest-sec financing-sec chart-with-icon icon-4-sec padd-t-b-100">
    <div class="container">
        <h2>Get a 360-degree view into your fertility</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="rest-col">
                    <div class="rest-icon-col">
                        <img src="{{ 'fertility_hormones_icon01.svg' | file_url }}" alt="">
                    </div>
                    <h3>LH</h3>
                    <p>
                        Predict your ovulation day
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rest-col">
                    <div class="rest-icon-col">
                        <img src="{{ 'fertility_hormones_icon02.svg' | file_url }}" alt="">
                    </div>
                    <h3>E3G</h3>
                    <p>
                        Pinpoint your full, 6-day fertile window
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rest-col">
                    <div class="rest-icon-col">
                        <img src="{{ 'fertility_hormones_icon03.svg' | file_url }}" alt="">
                    </div>
                    <h3>PdG</h3>
                    <p>
                        Confirm you are ovulating
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="rest-col">
                    <div class="rest-icon-col">
                        <img src="{{ 'fsh_icon1.svg' | file_url }}" alt="">
                    </div>
                    <h3>FSH</h3>
                    <p>
                        Get more insight into your ovulation days
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-row-globel"><a href="javascript:void(0)" class="order_now_button btn-custom btn-pink btn-lg">Order Now</a></div>
    </div>
</div>
    {% schema %}
    {
    "name": "Icons 4 Columns",
    "settings": [],
    "presets": [
      {
        "name": "Icons 4 Columns"
      }
    ]
    }
    {% endschema %}
    {% stylesheet %}
    {% endstylesheet %}
    {% javascript %}
    {% endjavascript %}