<div class="track-fsh-sec lubricant-helps-sec">
   <div class="container">
      <div class="row">
           <div class="col-md-5">
            <div class="track-fsh-img">
               <img class="discover-image" src="{{ 'how-lube-helps.png' | file_img_url: '' }}
" alt="img">
            </div>
         </div>
         <div class="col-md-7">
            <div class="track-fsh-col">
               <h3>How a Fertility Lubricant Helps you get Pregnant</h3>
              <p>Nearly one-third of couples TTC prefer the ease and comfort of a lubricant during intimacy. BioGenesisTM 
                Fertility Lubricant was created by leading scientists looking to help couples achieve this! BioGenesis is a sensual, 
                long-lasting, and hypoallergenic option. Plus, it’s the first intimacy gel that's 
                <strong>paraben-free and includes magnesium and calcium ions</strong> to support your fertility journey.</p>
             
            </div>
         </div>
      
      </div>
   </div>
  </div>

{% schema %}
  {
    "name": "Lube Whats Inside",
    "settings": [],
    "presets": [
      {
        "name": "Lube Whats Inside"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
