<div class="video-home-sec lube-video-sec cc-cup-video-sec padd-t-b-100"> 
<div class="container">  

  <div class="video-home-inner">  

   
            
   
    <img src="{{ 'lube_video.png' | file_img_url: '' }}" alt="img" class="lube-video-box">
    <div class="video-home-text">
      <h3>BioGenesis™ Fertility Lubricant</h3>
     
      <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg mira_video" data-video="IXmWm6se8D8">Watch Now <img src="//cdn.shopify.com/s/files/1/0474/0225/4488/files/Play.svg?v=9426438126204886282" alt="icon img"></a>
    </div>
  </div>

</div>

</div>


{% schema %}
  {
    "name": "Lube Video Cta",
    "settings": [],
    "presets": [
      {
        "name": "Lube Video Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
