<div class="ingredient-sec">

  <div class="container">
    <div class="ingredient-title">
    <h2><img class="check_mark" src="{{ 'ingredients_check_icon1.svg' | file_url }}" alt=""> Ingredients</h2>
    
    </div>
  
       <div class="ingredient-col">
         <ul>
           <li>Purified Water</li> 
    <li>Hydroxyethylcellulose</li>

    <li>Sodium Chloride</li>

    <li>Potassium Chloride</li>

    <li>Calcium Chloride</li>

    <li>Lactic Acid</li>

    <li>Magnesium Chloride</li>

    <li>Potassium Sorbate</li>

    <li>Sodium Benzoate</li>

    <li>Sorbic Acid</li>
          
         </ul>
      
      </div>
  
    <p>*Formula may vary due to occasional improvements</p>
    
  
  </div>

</div>

{% schema %}
  {
    "name": "Lube Ingredients",
    "settings": [],
    "presets": [
      {
        "name": "Lube Ingredients"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
