<div class="kgol-use-sec lube-feature-sec">
  <div class="container">
    
    <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-6 order-sm-2">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'lube_service_icon01.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-6 order-sm-1">
            <div class="can-cup-help-col">
               <h4>TTC? Choose <br class="medium-up--hide">A Safe Lube.</h4>
              <p>It's true. Some popular lubricants can negatively affect sperm movement. We're not naming names, but you can read the medical journals here and here. BioGenesisTM is different, backed by FDA approval and verified by a qualified doctor of obstetrics and gynecology. Every aspect of our formula — paraben-free, water-based, 
                with hydroxyethylcellulose, plus calcium and magnesium ions - was designed to support your journey to pregnancy.</p>
             
            </div>
         </div>
         
      </div>
    </div>
    
       <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-6">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'lube_service_icon02.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-6">
            <div class="can-cup-help-col">
               <h4>Buffering To <br class="medium-up--hide">Support pH</h4>
              <p>BioGenesisTM closely mimics your own fertile fluids. It works with your body to create both an optimal environment for 
                conception and a comfortable intimate experience. It also utilizes a gentle and innovative biochemical process called buffering. 
                BioGenesis adapts as higher pH sperm is introduced to help retain healthy vaginal pH levels while simultaneously supporting sperm health and movement. 
                This means it will support sperm motility & viability without raising vaginal pH to harmful levels.</p>
             
            </div>
         </div>
         
      </div>
    </div>
    
    
    <div class="kgol-use-row">
       <div class="row">
          <div class="col-md-6 order-sm-2">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'lube_service_icon03.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-6 order-sm-1">
            <div class="can-cup-help-col">
               <h4>Hydroxy ethyl what...?</h4>
              <p>BioGenesisTM features a blend of water and a science-lab sounding ingredient called hydroxyethylcellulose. It's natural, effective, plant-based, and hypoallergenic. 
                More important for TTC couples, it is exactly what is recommended by our friends at the Mayo Clinic for fertility-friendly lubrication.</p>
             
            </div>
         </div>
         
      </div>  
    </div>
    
    
    
  </div>
</div>

{% schema %}
  {
    "name": "Lube How Lubricant Helps",
    "settings": [],
    "presets": [
      {
        "name": "Lube How Lubricant Helps"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
