<div class="bio-genesis-sec white-sec-bg padd-t-b-100">

    <div class="container">
  

  

  <div class="row">
    <div class="col-lg-6">
      <div class="how-different-col">
        <h4>BioGenesis™ x Mira: Support your TTC journey and feel more pleasure during intimacy</h4>
        <p>We’ve partnered with BioGenesisTM Fertility Lubricant to bring you timely, pleasurable, and smooth baby-making sex. If you feel your journey to pregnancy impacts your sex drive, and you can use a little help — fertility lube can work wonders for you and your partner. BioGenesisTM Fertility Lubricant supports sperm health, relieves vaginal dryness, and increases pleasure and comfort during sex. Plus, its ingredients don’t harm sperm or sperm movement.</p>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="how-different-img">
        <img class="how-different-image" src="{{ 'BioGenesis_img_cd1bab98-d5bc-4b9d-b129-ac86be8dc2e8.png' | file_img_url: '' }}" alt="img">
    
       
      </div>
    </div>
    
  
  
    
  
  
  </div>

  </div>
 
  
  
    
  
  </div>


{% schema %}
  {
    "name": "Lube Combining MioGenesis",
    "settings": [],
    "presets": [
      {
        "name": "Lube Combining MioGenesis"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}