<div class="reach-sec padd-t-b-100">

<div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="reach-sec-info">
               <div class="">
                  <h2>Support your fertility plans with science</h2>
                 <p>Reach your fertility goals faster. Say goodbye to guesswork and hello to confident decisions.</p>
               </div>
               
               <div class="btn-row-globel padd-t-20"><a href="#" id="order_now_button" class="btn-custom btn-pink btn-lg">Order Now</a></div>
            
            </div>
         </div>
        <div class="col-lg-6">
          <div class="reach-sec-img">
            <img src="{{ 'max-terms-conditions.png' | file_img_url: '' }}" alt="icon">
          </div>
        </div>
        
        
      </div>
   </div>
</div>


{% schema %}
  {
    "name": "Max Kit Cta",
    "settings": [],
    "presets": [
      {
        "name": "Max Kit Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
