<div class="faq-sec padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  Can I use Mira if my cycles are irregular?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! With Mira, you can see your actual hormone concentrations. As long as you ovulate, you will be able to know when you ovulate—even with irregular cycles.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  I'm trying to get pregnant. How can Mira help me?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>People trying to conceive don’t always know when their most fertile days are. Researchers found that only 12.7% of people with ovaries know when they ovulate correctly, and only 55% estimated their ovulation within their fertile window. Mira tracks key fertility hormones concentrations to give you personalized insights and maximizes your chances of conceiving.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  I have PCOS, can Mira help me?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Sure! Our pregnancy rate is 2x higher in users with PCOS. The pregnancy rate of people with PCOS is only 26.7% during 3 cycles—even when using regular OPK and OPK technology. According to this study, users with PCOS who used Mira for 3 cycles achieved a 52.7% pregnancy rate.</p>
                  </div>
               </div>
            </div>

           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  How many wands do I need per cycle?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>10-20 per cycle are required based on testing day recommendations from the Mira App. With the starter kit you will get 10 wands to understand how they work for you. Then you can easily refill wands here.</p>
                  </div>
               </div>
            </div>

           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                  How Mira’s technology is different?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Mira uses lab-grade technology to measure key fertility hormones through urine. Did you know scientists use fluorescence-based tech at the fertility lab? So does Mira. We use immunochromatography with fluorescence labeling. Our approach offers 99% accuracy without pricking, travel time, or spending thousands of dollars.</p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>
{% schema %}
  {
    "name": "Max Kit Faq",
    "settings": [],
    "presets": [
      {
        "name": "Max Kit Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
