<div class="medical-advisors-sec">
    <div class="container">
        <div class="heading-1 text-center">
            <h2>Meet our medical advisors</h2>
         <p>Scientists and experts trust Mira — and they are here to support you on your journey with accurate information and solutions.
         </p>
        </div>
       
        <div id="medical-advisors" class="arrow-slider-nav">

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0755/9620/2277/files/Kara_McElligott_Park_img.png?v=1695727119"></div>
                <div class="testimonials-text">
                    <h5>Dr. Kara McElligott Park</h5>
                    <p>OB/GYN, Certified Menopause Practitioner</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/kara-mcelligott-park/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    <a href="https://pauseforwomen.co" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>
   
            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor01.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Gary S. Nakhuda, MD</h5>
                    <p>OB/GYN / Reproductive Endocrinology, FACOG. Research collaborator at Mira</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/gary-nakhuda/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    <a href="https://www.olivefertility.com/your-olive-team/dr-gary-nakhuda" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>


           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor02.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Meir Olcha, MD</h5>
                    <p>OB/GYN / Reproductive Endocrinology, FACOG, Medical advisor and partner at Mira</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/meir-olcha-md-facog-2217266a" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    <a href="https://sama.life/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>


           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor03.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Katerina Shkodzik, MD</h5>
                    <p>OB/GYN / Reproductive Endocrinology, FACOG, Medical advisor and partner at Mira</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/katerina-shkodzik-04a1b11ba/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    
                  </div>
                </div>
              </div>
            </div>


           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor04.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Dr. Li-Shei Lin.</h5>
                    <p>OB/GYN and Reproductive Endocrinologist, Clinical Professor of Reproductive Medicine. Medical Advisor at Mira.</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/li-shei-lin-a80573a1/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    
                  </div>
                </div>
              </div>
            </div>

           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor06.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Dr. Tara Brandner</h5>
                    <p>Doctorate Nurse Practitioner, FNP-C & Fertility Coach</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/tara-brandner-27777643" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    <a href="tarabrandner.com" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>

           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor07.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Shawana S. Moore</h5>
                    <p>DNP, APRN, WHNP-BC, PNAP. President/Chair, National Association of Nurse Practitioners in Women's Health (NPWH)</p>
                  <div class="advisor-social">
                   
                    <a href="https://npwh.org/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>

           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor08.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Sarah Jane Sandy</h5>
                    <p>Functional Nutrition Therapist</p>
                  <div class="advisor-social">
                    <a href="https://www.linkedin.com/in/sarah-jane-sandy-a33b286" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/linkedin_medical_ad_icon_45138352-28e9-4ba4-b470-9f8926b2ba64.svg?v=1689099328"></a>
                    <a href="https://sarahjanesandy.com/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/web_medical_ad_icon_39e0e304-9bb4-4fc4-b972-8c609917e5e3.svg?v=1689099329"></a>
                  </div>
                </div>
              </div>
            </div>


           <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/medical_advisor09.png?v=1689099145"></div>
                <div class="testimonials-text">
                    <h5>Rosemary MacKenzie</h5>
                    <p>BSN, RN, CEN, MMCP, NFP Instructor at Mira</p>
                  <div class="advisor-social">
                   
                  </div>
                </div>
              </div>
            </div>
       


          
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Medical Advisors",
    "settings": [],
    "presets": [
      {
        "name": "Medical Advisors"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}