<section class="template_section_mira_achievement">
    <div class="template_section_mira_achievement_content site_content_container content-box">
        <div class="number-title">
            Over 80,000 people
        </div>
        <h3>have chosen the Mira Monitor to guide their fertility journey</h3>
        <p>Our scientists designed the Mira Monitor with groundbreaking technology to offer the<br> highest accuracy on the market.</p>
        
        
    </div>
</section>
{% schema %}
  {
    "name": "Mira Achievement",
    "settings": [],
    "presets": [
      {
        "name": "Mira Achievement"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}