<div class="mira-fertility-sec order-your-mira padd-t-b-100">
  <div class="container-full">
    <div class="row">
      <div class="col-md-4 fadeLeft">
        <div class="img-fertility">
          <img src="{{ 'order_your_mira.png' | file_img_url: '' }}" alt="">
        </div>
      </div>
      <div class="col-md-8 fadeRight">
        <div class="fertility-info">
          <div class="heading-1 text-left">
            <h2>Order Your 
              Mira Plus Today
            </h2>
          </div>
          <p>Track your whole cycle and what is happening with your hormones. Get a larger fertile window (6 days) and clear insights.
            Let Mira take the guesswork out of tracking all fertile days and infertile days.
          </p>
          <div class="btn-row-globel padd-t-20"><a href="/products/fertility-plus-starter-kit" class="btn-custom btn-pink btn-lg">Order Today</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Mira Plus Cta",
    "settings": [],
    "presets": [
      {
        "name": "Mira Plus Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
