<!-- HTML Start -->
<div class="faq-sec mira-tea-faq padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  How do I get the best results?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>We recommend drinking the Mira Fertility Tea on an empty stomach. Otherwise, drink with your meal of choice.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  Are there different brewing techniques?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! And this will depend on your goals. If you’re trying to improve your fertility, drink before and during ovulation. For hormone balancing, drink 3-5 times per week.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                What’s the best time in my cycle to drink this tea?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>We recommend you drink our fertility tea after your period ends, the week before your ovulation, and while you are ovulating — especially if you are TTC.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                Is the Mira Fertility Tea gluten/soy/dairy-free?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! Our tea is soy, gluten, and dairy-free.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                 What are other ways I can drink this tea?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>You can enjoy it hot or iced, and you can add your sweetener of choice.</p>
                  </div>
               </div>
            </div>
                 
      
         </div>
      </div>
      
   </div>
</div>

<!-- HTML End -->

{% schema %}
  {
    "name": "Mira Tea Faq",
    "settings": [],
    "presets": [
      {
        "name": "Mira Tea Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
