<div class="track-fsh-sec regular-meditation">
   <div class="container">
      <div class="row">
         <div class="col-md-7 order-2 order-md-1">
            <div class="track-fsh-col">
               <h3>Fertility Meditation vs. Regular Meditation</h3>
              <p>Fertility meditation focuses on feel-good fertility hormones in charge of your cycle’s wellbeing, while regular meditation targets your entire body. Fertility meditation is a wonderful mixture of effective mantras, visualizations, 
                breathing techniques, and yoga exercises that increase your fertility abilities and help you conceive! </p>
             <div class="btn-row-globel padd-t-20"><a href="javascript:void(0)" class="subscription_button btn-custom btn-pink btn-lg" >Get Started</a></div>
            </div>
         </div>
         <div class="col-md-5 order-1 order-md-2">
            <div class="track-fsh-img">
               <img class="discover-image" src="{{ 'fertility_meditation.jpg' | file_img_url: '' }}" alt="img">
            </div>
         </div>
      </div>
   </div>
  </div>

{% schema %}
  {
    "name": "MMP Meditation Comparison",
    "settings": [],
    "presets": [
      {
        "name": "MMP Meditation Comparison"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
