<div class="padd-t-b-100 kgol-use-sec life-time-meditation-sec">
  <div class="container">
    <div class="heading-1">
      <h3>Get Life-Time Access to Fertility Meditation Exercises</h3>
    </div>
    <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-5">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'life_time_meditation_icon01.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-7">
            <div class="can-cup-help-col">
               <h4>Expert-guided exercises</h4>
              <p>Mira’s fertility meditations are guided by fertility wellness coaches, health practitioners, award-winning journalists, and best-selling authors—all here to guide you on your fertility journey.</p>
             
            </div>
         </div>
         
      </div>
    </div>
    
       <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-5 order-sm-2">
            <div class="can-cup-help-img text-right">
               <img class="discover-image" src="{{ 'life_time_meditation_icon02.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-7 order-sm-1">
            <div class="can-cup-help-col">
               <h4>Fertility focused meditations</h4>
              <p>Our exercises focus on rebalancing your fertility hormones, cycle, and ovulation through proven destressing techniques. </p>
             
            </div>
         </div>
         
      </div>
    </div>


        <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-5">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'life_time_meditation_icon03.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-7">
            <div class="can-cup-help-col">
               <h4>Lifetime access </h4>
              <p>Come back to your Meditation Playlist whenever you feel the need to recenter to continue on your journey. </p>
              <div class="btn-row-globel padd-t-20"><a href="javascript:void(0)" class="subscription_button btn-custom btn-pink btn-lg">Get Started</a></div>
             
            </div>
         </div>
         
      </div>
    </div>

  </div>
</div>
{% schema %}
{
    "name": "MMP Lifetime Accesss",
    "settings": [],
    "presets": [
      {
        "name": "MMP Lifetime Accesss"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}