<div class="reach-sec mmw-terms-sec meditation-playlist-sec padd-t-b-100">

<div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="reach-sec-info">
               <div class="">
                  <h2>Get Mira’s Fertility Meditation Playlist</h2>
                 <p>Fertility meditation helps you feel confident in your body’s fertility potential. Our expert-guided holistic exercises reduce stress hormones, rebalance your ovulation, and boosts your fertility. </p>
               </div>
               
               <div class="btn-row-globel padd-t-20"><a href="javascript:void(0)" class="subscription_button btn-custom btn-pink btn-lg">Get Started</a></div>
            
            </div>
         </div>
        <div class="col-lg-6">
          <div class="reach-sec-img">
            &nbsp;
          </div>
        </div>
        
        
      </div>
   </div>
</div>
{% schema %}
{
    "name": "MMP CTA",
    "settings": [],
    "presets": [
      {
        "name": "MMP CTA"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}