<div class="faq-sec padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  How do I get access to the meditations?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Once you place your order, we will send you log-in credentials to use the platform. You can access your meditations from any device at any time.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  When should I practice meditation?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>You can meditate at any time during the day. Meditation allows you to recenter if you’re feeling anxious or stressed. Taking 10-15 minutes to meditate makes a huge difference in your body.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  I’m new to meditation. Will the playlist be helpful for me?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Definitely! All meditations are beginner-friendly and useful for anyone who already meditates regularly.</p>
                  </div>
               </div>
            </div>

           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  What’s the best way to listen to these meditations?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>We recommend you wear headphones for a better experience. You can listen in a quiet area if you don't have headphones.</p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>
{% schema %}
{
    "name": "MMP FAQ",
    "settings": [],
    "presets": [
      {
        "name": "MMP FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}