<div class="how-to-different-sec padd-b-100 perfect-course-sec perfect-course-new mindfulness-sec"> 
   <div class="container">
      
      <div class="row">
        <div class="col-lg-6">
          <div class="how-different-img">
            <img class="mindfulness-image" src="{{ 'mindfulness_img_bg.png' | file_img_url: '' }}" alt="img">
            <img class="mindfulness-vector" src="{{ 'mindfulness_img_bg.svg' | file_url }}" alt="img">
          </div>
        </div>
         <div class="col-lg-6">
            <div class="how-different-col">
            
         <h3>Mindfulness for your fertility journey</h3>
     
               <ul>
                  <li><strong>Rebalance your hormones</strong>
Our brains are deeply connected to our hormones. Reduce stress hormones like cortisol that cause irregular cycles and welcome happy hormones like DHEA into your body.                   
                  </li>
                  <li><strong>Conceive with a clear mindset</strong>
                  Stay in tune with your surroundings and emotions. Feel safer and confident about your goals and your body’s ability to reach them.
                  </li>
                  <li><strong>Recenter to plan your future family</strong>
                  Making future family plans might trigger anxiety. Allowing yourself to recenter will help you feel more confident about your decisions.
                  </li>
           
               </ul>
            </div>
         </div>
        
      </div>
   </div>
</div>
{% schema %}
{
    "name": "MMP Mindfulness Journey",
    "settings": [],
    "presets": [
      {
        "name": "MMP Mindfulness Journey"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}