<div class="experts-mira-sec meditation-experts-sec padd-t-b-100">
    <div class="container">
      <div class="experts-mira-inner">
        <div class="heading-1 text-center">
          <h2>Meet your Fertility Meditation Experts</h2>
        </div>
        <div id="experts-mira-slider">
          <div class="experts-col row">
            <div class="col-lg-5">
              <div class="experts-img">
                <img src="{{ 'meditation_experts_01.png' | file_img_url: '' }}" alt="img" />
                <div class="expert-name">Lisa Pineda</div>
                <p>Over 20 years of advanced yoga instructor experience. Lisa became a mom by using her fertility health expertise during her journey. Two-time TEDx speaker, wellness coach, and award-winning journalist.</p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="experts-info">
                <h4>Lisa's Meditations:</h4>
              <ul>
               <li><strong>Let Go and Prepare Your Body for Conception</strong> <span>teaches you to let go of defeatist or dismissive thoughts about your fertility journey. Helping you feel less anxious and more in control of your emotions.</span></li>
  <li><strong>Body Scan, Awareness, and Deep Belly Breathing</strong> <span>Visual imagery and belly breathing create a feeling of relaxation, comfort, and support for your body's abilities.</span></li>
              </ul>
              </div>
  
            </div>
          </div>
         
  
  <div class="experts-col row">
      <div class="col-lg-5">
        <div class="experts-img">
          <img src="{{ 'meditation_experts_02.png' | file_img_url: '' }}" alt="img" />
          <div class="expert-name">Michelle Oravitz</div>
          <p>Acupuncturist, ayurvedic practitioner, and certified hypnotherapist specializing in fertility health. She hosts "The Wholesome Fertility" Podcast and provides fertility wellness tips and professional advice to her listeners.</p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="experts-info">
          <h4>Michelle's Meditations:</h4>
        <ul>
        
  <li><strong>Deeply Balance Your Hormones</strong> <span>Guided visualization of healing a life force vitality to awaken balance through the brain, thyroid, and ovaries recorded with a background of theta wave binaural beats.</span></li>
  
      <li><strong>Re-Connect Your Heart to the Uterus</strong> <span>Chinese medicine states that the heart has an essential role in the health of the uterus, and the two intertwine through a vessel called the Bao Mai. This meditation focuses on bridging your heart and your uterus with feelings of love.</span></li>
  
  </ul>
        </div>
  
      </div>
    </div>
  
  
  
  
  
    <div class="experts-col row">
      <div class="col-lg-5">
        <div class="experts-img">
          <img src="{{ 'meditation_experts_03.png' | file_img_url: '' }}" alt="img" />
          <div class="expert-name">Allison Locke</div>
          <p>R.TCMP, FABORM, CLT, OBAAM. Acupuncturist, yoga teacher, and health practitioner. As a stage three endo warrior, Allison is passionate about helping treat the pain and symptoms of endometriosis and infertility.</p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="experts-info">
          <h4>Allison Meditations:</h4>
        <ul>
          <li><strong>Ovulation Meditation</strong> <span>Stress causes inflammation in your body, which is problematic for your reproductive system. These body relaxation and meditation exercises help you destress and create a healthier mindset about your fertility.</span></li>
  
              <li><strong>Two-Week Wait Meditation</strong> <span>Feeling present and being honest with yourself will help you reach your fertility goals. Mindfulness meditation helps you feel safe and confident about your body—allowing you to be in tune with your reality without overreacting. </span></li>
  
  </ul>
        </div>
  
      </div>
    </div>
  
  
  
                 
        </div>
      </div>
    </div>
  </div>
{% schema %}
{
    "name": "MMP Meditation Expert",
    "settings": [],
    "presets": [
      {
        "name": "MMP Meditation Expert"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

