<div class="rest-sec how-to-use-sec padd-t-b-100 fertility-potential" style="background-color: #fff;">
  <div class="container">
    <div class="heading-1">
      <h2>Unlock your Body’s Fertility Potential</h2>
      <p>Studies have shown that stress factors affect people TTC by<br> <strong>almost 30%</strong> compared to others.</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'potential_icon01.svg' | file_url }}" alt="icon"></div>
          <h3>Re-Balance your Ovulation</h3>
          <p>
           Cortisol, the stress hormone, causes irregular ovulation cycles. Fertility meditation reduces cortisol, allowing the reproductive system to rejuvenate and conceive within a calmer environment. 
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'potential_icon02.svg' | file_url }}" alt="icon"></div>
          <h3>Achieve a Deeper Focus</h3>
          <p>
            You’d be surprised by how much our brains affect our body’s natural abilities. Tuning in with your body through holistic exercises connects you to your goals and engages you with conception.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'potential_icon03.svg' | file_url }}" alt="icon"></div>
          <h3>Cultivate Fertility Hormones</h3>
          <p>
           The sex hormone DHEA preserves and produces eggs for reproduction. Fertility meditation lessens cortisol and welcomes the much-needed DHEA into your system!
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'potential_icon04.svg' | file_url }}" alt="icon"></div>
          <h3>Feel Confident to Conceive</h3>
          <p>
           Fertility meditation releases the love concoctions of serotonin, oxytocin, and dopamine—helping you feel really good all over! This allows you to feel confident about your conception goals.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
{% schema %}
  {
    "name": "MMP Unlock Potential",
    "settings": [],
    "presets": [
      {
        "name": "MMP Unlock Potential"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
