<div class="video-home-sec ttc-video-sec cc-cup-video-sec mmp-video-sec padd-t-b-100"> 
<div class="container">  

  <div class="video-home-inner">  

   
            
   
    <img src="{{ 'mmp_Video_img.jpg' | file_img_url: '' }}" alt="img" class="lube-video-box">
    <div class="video-home-text">
      <h3>Listen to a snippet of the Balance your Hormones Meditation here</h3>
    
      <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg mira_video" data-video="JPbMXqQ1kVM">Listen Now <img src="{{ 'Play.svg' | file_url }}" alt="icon img"></a>
    </div>
  </div>

</div>

</div>
{% schema %}
  {
    "name": "MMP Video CTA",
    "settings": [],
    "presets": [
      {
        "name": "MMP Video CTA"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}