<div class="faq-sec mira-max-wands-faq padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  How many Mira Max wands do I need per cycle?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>10-20 per cycle are required based on testing day recommendations from the Mira App.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  I don’t have the Mira Monitor yet; what should I do?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>If you don't own the Mira Monitor, you can order the Mira Confirm Bundle <a href="/products/mira-plus-confirm-bundle" target="_blank">here</a> to start testing. As soon as the Max Wands are available, you can continue testing using a single wand.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  Can I combine the Mira Wands when I’m testing?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>We don’t recommend using two kinds of wands to track the same hormones during one
cycle. For example, if you’re tracking LH+E3G, we don’t recommend using the Plus
Wands on one day (LH+E3G) and the Max Wands (LH+E3G+PdG) on another day.
<br>This affects Mira’s algorithm and might not give you the most accurate results.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                 Can I use my current Mira Monitor with the Mira Max wands?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! Just make sure that your Monitor’s software version is 01.07.01.17 or higher or upgrade version 01.06.xx.xx.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                 What happens if I test with different Wands? Will this affect my ovulation
                   tracking?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>In general, no. Each Wand is manufactured and controlled based on industry standards
and regulations and meets the requirements for testing purposes. This being said, it is
normal for small fluctuations to occur.<br>
Based on Mira’s hormone concentration range, the Mira App will show you specific
fertility scores based on your ovulation status:</p>
                       
                       <ul>
<li>A fertility Score from 1 - 4 means that you’re going through non-ovulatory days.</li>       
<li>A fertility Score from 5 - 8 means you’re in your fertile window.</li>
<li>A fertility Score from 9 - 10 means ovulation will likely happen within 24 hours.</li>
                      </ul>
                    <p>
To sum it up,what happens if you use two different wands?<br>
The app can show you slightly different values if you use two differently calibrated
wands during your cycle (as if you were sending one sample to two different labs).<br>
You may get 64 ng/ml from one wand and 76 ng/ml from another. Does this mean you’re
getting accurate ovulation prediction results? Yes!<br>
But to avoid confusing results, we highly recommend using one type of Wand to get
equally calibrated results throughout your entire cycle.</p>
                  </div>
               </div>
            </div>
            
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>

{% schema %}
  {
    "name": "MMW FAQ",
    "settings": [],
    "presets": [
      {
        "name": "MMW FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
