<div class="panorama-sec-discover-items ob-book-consultation-cta">
    <div class="container">
        <div class="panorama-discover-items">
            <div class="panorama-lab-test-heading-1 text-center">
                <h2>How booking a consultation can help you</h2>
            </div>
            <div class="panorama-discover-row top-bordr-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Review your Mira charts</h4>
                <p>Our doctors love Mira and understand how it works. Our OB/GYNs can review your charts and offer professional guidance.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Create a pregnancy plan</h4>
                <p>Get actionable steps from a doctor. Conceive faster and in a healthy state of mind.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Get a second opinion</h4>
                <p>Getting a different perspective on your fertility is a great practice that leads to confident decisions.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> Access prescriptions</h4>
                <p>Get the necessary medication prescribed in just 30 minutes and from the comfort of your home. Forget waiting months for an appointment or driving to the hospital.</p>
            </div>
            <div class="panorama-discover-row">
                <h4><i class="green-alart-icon"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/samll_check_img.svg?v=1694091387"></i> See an experienced doctor</h4>
                <p>You’re a click away from a doctor who understands the full fertility picture—including special conditions such as PCOS, hormone imbalances, and more. </p>
            </div>
          <div class="btn-row-globel text-center padd-t-30">
   <a href="#" id="order_now_button" class="btn-custom btn-pink btn-lg">Book a Consultation</a>
  </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "OB Book Consultation Cta",
    "settings": [],
    "presets": [
      {
        "name": "OB Book Consultation Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}