<div class="medical-advisors-sec ob-doctors-team">
    <div class="container">
        <div class="heading-1 text-center">
            <h2>Meet our team of doctors</h2>
         <p>Our licensed OB/GYNs are ready to help you with expert knowledge about fertility and fertility technologies.</p>
        </div>
       
        <div id="doctors-team" class="arrow-slider-nav">

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/Patricia_Convery_img.svg"></div>
                <div class="testimonials-text">
                    <h5>Patricia Convery</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/Tammy_Kelly_img.svg"></div>
                <div class="testimonials-text">
                    <h5>Tammy Kelly</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/Kara_McElligott_Park_img.svg"></div>
                <div class="testimonials-text">
                    <h5>Kara McElligott Park</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/Howard_David_img.svg"></div>
                <div class="testimonials-text">
                    <h5>Howard David</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0755/9620/2277/files/Suchada_chaiwechakarn_image.svg?v=1695631890"></div>
                <div class="testimonials-text">
                    <h5>Suchada Chaiwechakarn</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0755/9620/2277/files/Michelle_keeley_image.svg?v=1695631880"></div>
                <div class="testimonials-text">
                    <h5>Michelle Keeley</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>

            <div class="testimonials-col">
              <div class="testimonials-inner-col">
              <div class="testimonials-img"><img src="https://cdn.shopify.com/s/files/1/0755/9620/2277/files/Sharma_radhika_image.svg?v=1695631880"></div>
                <div class="testimonials-text">
                    <h5>Sharma Radhika</h5>
                    <p>OB/GYN</p>
                </div>
              </div>
            </div>


          
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "OB Doctors Team",
    "settings": [],
    "presets": [
      {
        "name": "OB Doctors Team"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}