<div class="full-list-icon-sec full-width-list-icon ob-full-width-list-with-icon">
    <div class="container">
        <h2>Back your fertility plans with the full picture</h2>
        <div class="list-icon-row row">
            <div class="col-md-3">
                <div class="img-icon-col">
                    <img src="{{ 'fertility_clarity_icon01.svg' | file_url }}" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="full-list-text-col">
                    <h4>Discover your numbers</h4>
                    <p>Mira acts as an at-home fertility lab. Capture your body's hormone count and easily understand next steps in just 21 minutes.</p>
                </div>
            </div>
        </div>
        <div class="list-icon-row row">
            <div class="col-md-3">
                <div class="img-icon-col">
                    <img src="{{ 'fertility_clarity_icon02.svg' | file_url }}" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="full-list-text-col">
                    <h4>See higher hormone ranges</h4>
                    <p>Forget blurry lines for good. Mira picks up higher hormone ranges making it the perfect solution if you have <strong>irregular cycles or hormone imbalances.</strong></p>
                </div>
            </div>
        </div>
        <div class="list-icon-row row">
            <div class="col-md-3">
                <div class="img-icon-col">
                    <img src="{{ 'fertility_clarity_icon03.svg' | file_url }}" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="full-list-text-col">
                    <h4>AI that learns from you</h4>
                    <p>Mira’s AI is trained and optimized on 4M+ hormone data points and 370k+ menstrual cycles—and counting. This means your results will always be 100% personalized.</p>
                </div>
            </div>
        </div>
        <div class="list-icon-row row">
            <div class="col-md-3">
                <div class="img-icon-col">
                    <img src="{{ 'fertility_clarity_icon04.svg' | file_url }}" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div class="full-list-text-col">
                    <h4>Great for PCOS</h4>
                      <p>According to this <a target="_blank" href="https://www.miracare.com/assets/The-Pregnancy-Rate-of-Women-Attempting-to-Conceive-with-Mira-Products-Study-Report.pdf"><strong>study</strong></a>, users with PCOS who tracked with Mira for 3 cycles achieved a 52.7% pregnancy rate.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Full Width List With Icon",
"settings": [],
    "presets": [
      {
        "name": "Full Width List With Icon"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}