<div class="practical-steps-sec padd-b-70 padd-t-70 ob-img-with-desc-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2 order-md-1">
                <div class="practical-steps-left">
                    <div class="panorama-lab-test-heading-1">
                        <h2>Make sense of what’s happening in your body—you deserve it</h2>
                    </div>
                    <p>There’s a lot of ground to cover regarding fertility—and the next steps aren’t always clear to us. You deserve to get thoughtful answers from a professional whose only interest is to guide you to the finish line in a healthy way.</p>
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2">
                <div class="practical-steps-img">
                    <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/ob_img_with_desc4_img.png?v=1694087033" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "OB Img With Desc4",
    "settings": [],
    "presets": [
      {
        "name": "OB Img With Desc4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}