<div class="faq-sec padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQ</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  I'm trying to get pregnant. How can Mira help me?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>People trying to conceive don’t always know when their most fertile days are. Researchers found that only 12.7% of people with ovaries know when they ovulate correctly, and only 55% estimated their ovulation within their fertile window. Mira tracks key fertility hormone concentrations to give you personalized insights and maximizes your chances of conceiving.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  Can I use Mira if my cycles are irregular?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Yes! With Mira, you can see your actual hormone concentrations. As long as you ovulate, you will be able to know when you ovulate—even with irregular cycles.</p>
                  </div>
               </div>
            </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  What will my results tell me?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>You will get actual numbers of LH, E3G, PdG, and FSH levels in urine. Test to get a clear view of your fertility health, learn how far you are from menopause, share your data with your doctors, and boost your chances of conceiving.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  I have PCOS. Can Mira help me?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Sure! Our pregnancy rate is 2x higher in users with PCOS. The pregnancy rate of people with PCOS is only 26.7% during 3 cycles—even when using regular OPK and OPK technology. According to this <a target="_blank" href="https://www.miracare.com/assets/The-Pregnancy-Rate-of-Women-Attempting-to-Conceive-with-Mira-Products-Study-Report.pdf">study</a>, users with PCOS who used Mira for 3 cycles achieved a 52.7% pregnancy rate.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                  How is Mira’s technology different?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Did you know scientists use fluorescence-based tech at the fertility lab? So does Mira. Mira uses lab-grade technology to measure key fertility hormones through urine, called immunochromatography with fluorescence labeling. Our approach offers 99% accuracy without pricking, travel time, or spending thousands of dollars. </p>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com/" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>
{% schema %}
  {
    "name": "Ob Ovum Bundle Faq",
    "settings": [],
    "presets": [
      {
        "name": "Ob Ovum Bundle Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
