<div class="support-firtility-sec">
  <div class="support-firtility-row">
  <div class="left-text-sec">
    <div class="support-firtility-col">
               <h3>Support your fertility plans with science</h3>
              <p>Reach your fertility goals faster. Say goodbye to guesswork and hello to confident decisions.</p>
             <a href="javascript:void(0)" class="order_now_button btn-custom btn-pink btn-lg">Order Now</a>
            </div>
  </div>
  <div class="right-img-sec">
    <img src="{{ 'support_fertility_img.jpg' | file_img_url: '' }}" alt="">
  </div>
  
</div>
</div>
{% schema %}
  {
    "name": "Ob Ovum Bundle Cta",
    "settings": [],
    "presets": [
      {
        "name": "Ob Ovum Bundle Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}