<section class="template_section_video_light_box mira_content_popup pre-popup-sec ob-available-doctors">
   <div class="close_light_box closing_area"></div>
   <div class="template_section_video_light_box_content">
      <div class="video_holder">
         <div class="pre-popup-container">
            <div class="close_light_box">
            <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/x_close_btn.svg?v=1659040151"></div>
           <div class="d-flex text-center title-part">
             <h2>We have providers in the following states:</h2>
           </div> 
           
           <div class="d-flex flex-wrap flex-row align-items-center justify-content-center content-area">
                <span class="p-3 m-2">Alabama</span>
                <span class="p-3 m-2">Arizona</span>
                <span class="p-3 m-2">California</span>
                <span class="p-3 m-2">Colorado</span>
                <span class="p-3 m-2">Delaware</span>
                <span class="p-3 m-2">Florida</span>
                <span class="p-3 m-2">Georgia</span>
                <span class="p-3 m-2">Idaho</span>
                <span class="p-3 m-2">Illinois</span>
                <span class="p-3 m-2">Iowa</span>
                <span class="p-3 m-2">Kansas</span>
                <span class="p-3 m-2">Kentucky</span>
                <span class="p-3 m-2">Maine</span>
                <span class="p-3 m-2">Maryland</span>
                <span class="p-3 m-2">Michigan</span>
                <span class="p-3 m-2">Minnesota</span>
                <span class="p-3 m-2">Missouri</span>
                <span class="p-3 m-2">Nebraska</span>
                <span class="p-3 m-2">Nevada</span>
                <span class="p-3 m-2">New Jersey</span>
                <span class="p-3 m-2">New Mexico</span>
                <span class="p-3 m-2">New York</span>
                <span class="p-3 m-2">North Carolina</span>
                <span class="p-3 m-2">North Dakota</span>
                <span class="p-3 m-2">Ohio</span>
                <span class="p-3 m-2">Oklahoma</span>
                <span class="p-3 m-2">Oregon</span>
                <span class="p-3 m-2">Pennsylvania</span>
                <span class="p-3 m-2">South Carolina</span>
                <span class="p-3 m-2">Tennessee</span>
                <span class="p-3 m-2">Utah</span>
                <span class="p-3 m-2">Vermont</span>
                <span class="p-3 m-2">Virginia</span>
                <span class="p-3 m-2">Washington</span>
                <span class="p-3 m-2">West Virginia</span>
                <span class="p-3 m-2">Wisconsin</span>
           </div>
            
         </div>
      </div>
   </div>
</section>
{% schema %}
{
    "name": "OB Telemed Popup",
    "settings": [],
    "presets": [
      {
        "name": "OB Telemed Popup"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}