<div class="product-detail-tab what-inside-ovum">
    <div class="container">
        <div class="product-kit-tabs">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item active"> <a href="#tab01" class="nav-link" data-toggle="pill">Product Details & Specifications</a> </li>
                <li style="display:none;" class="nav-item"> <a href="#tab03" class="nav-link" data-toggle="pill"> Warranty/Return Policy</a> </li>
                <li style="display:none;" class="nav-item"> <a href="#tab04" class="nav-link" data-toggle="pill">Order Delivery Times</a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab01">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pro-kit-tab-img">
                                <div class="pro-kit-thumb"><img src="{{ 'Included-with-your-bundle.jpg' | file_img_url: '' }}" alt="" /> </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pro-kit-tab-text">
                                <h3>Included with your Bundle:</h3>
                                <div class="list-text-pro-kit">
                                    <div class="list-title"><span>1</span> Mira Fertility Monitor Box</div>
                                    <ul>
                                        <li>1 Mira Fertility Monitor Box</li>
                                        <li>Mira Monitor</li>
                                        <li>Deluxe Mira Carrying Pouch</li>
                                        <li>Charging Cable</li>
                                        <li>10 Single-use Estradiol Metabolite (E3G) + Luteinizing Hormone (LH) + Pregnanediol-3-Glucuronide (PdG) Test Wands</li>
                                         <li>10 Single-use Follicle Stimulating Hormone (FSH) Test Wands</li>
                                        <li>1 Silicone Cup</li>
                                        <li>Quickstart Guide: Step-by-step instructions to get started with Mira</li>
                                    </ul>
                                </div>
                                <div class="pro-kit-tab-text">
                                    <div class="list-text-pro-kit">
                                        <div class="list-title"><span>2</span> Mira App</div>
                                        <ul>
                                            <li>Sync The Mira Monitor to the Mira App, compatible with all iPhone devices (iOS 10.0 and up) and Android devices (Android 5.0 and up)</li>
                                            <li>Requires Bluetooth</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab03" style="display:none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pro-kit-tab-text">
                                <h3><a target="_blank" href="https://help.miracare.com/en_us/categories/returns-By5s96zBo">Return Policy</a></h3>
                                <div class="list-text-pro-kit">
                                    <p>The Company can issue a full refund if the Buyer requests a refund <strong>before the package ships</strong>. However, since most Mira products are time sensitive, the orders are typically processed quickly. Therefore, a fast turnaround occurs between placing the order and preparing the fulfillment. The Buyer should reach out <strong>ASAP</strong> if they would like to cancel their order. If the Buyer wants to return the product after it is shipped, the Buyer must <strong>keep it unopened, unused, and original. Unopened means the seals on the product box much be intact</strong>. And the Buyer should store the product in a dry environment between 4 ° to 30 °C (39 ° to 86 °F) and keep it away from direct sunlight. The Buyer must contact the Mira Support team <strong>within 20 days</strong> after the product is delivered. Shipping and handling charges from the original order, <strong>including VAT or other customs fees,</strong> are non-refundable. If the Buyer requests a paid return label, the Company will deduct 15% of the product’s original price (available for the US only). For non-US orders, the Buyer is responsible for shipping back the product. </br><i><strong>Please Note:</strong> The Company cannot accept product returns based on the following:</i></p> 
                                  <p>
                                  <ul>
                                    <li>If it has been 20 days past the product’s delivery.</li>
                                    <li>If the seal is broken.</li>
                                    <li>If the product has been used or tampered with.</li>
                                    <li>If the product does not appear to be in its original condition.</li>
                                  </ul>
                                  </p>
                                  <p>The Buyer may cancel their subscription at any time. Please read this article carefully for more information on managing subscriptions. If the Buyer wants the Company to cancel the subscription, the Buyer must send the Company an explicit request <strong>at least 48 hours before the next order process date. </br><i>Please Note:</strong> Snoozing the subscription or changing the next order date <strong>will not</strong> cancel the subscription.</i></p>
                                </div>
                            </div>
                            <div class="pro-kit-tab-text">
                                <h3><a target="_blank" href="https://help.miracare.com/en_us/categories/warranty-Hk3oq6Gri">Warranty</a></h3>
                                <div class="list-text-pro-kit">
                                    <p>The Mira Monitor includes a one-year limited warranty. This limited warranty applies for a period of one (1) year from the date of purchase on your receipt. Mira requires the original receipt to determine the warranty period. During the warranty period, Mira will either repair or replace, at its own discretion, any defective Product or part free of charge.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab04" style="display:none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pro-kit-tab-text">
                                <div class="list-text-pro-kit">
                                    <h3>We ship worldwide!</h3>
                                    <p>Orders that qualify for free shipping:</p>
                                    <ul>
                                        <li>Orders over $148 in equivalent local currency in the US, Hong Kong, Singapore</li>
                                        <li>C$198 or over in Canada</li>
                                        <li>A$258 or over in Australia and New Zealand</li>
                                        <li>£148 or over in the UK</li>
                                        <li>€148 or over in the EU</li>
                                    </ul>
                                    <h3 style="margin-top: 15px;">Shipping times:</h3>
                                    <p>On average, US, UK, and AU orders arrive within 3-6 business days. Shipping to other countries may take longer, especially due to high demand. Please refer to the shipping time frame on the checkout page for more information.</p>
                                    <p>Questions? Contact us at <a target="_blank" href="mailto:support@miracare.com">support@miracare.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% schema %}
  {
    "name": "Ob Inside Ovum Bundle",
    "settings": [],
    "presets": [
      {
        "name": "Ob Inside Ovum Bundle"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
