<div class="reach-sec mmw-terms-sec padd-t-b-100">

<div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="reach-sec-info">
               <div class="">
                  <h2>Your Fertility Journey Starts Now</h2>
                 <p>Understand the full scope of your cycle, trends, and actual hormone concentrations. Say goodbye to guesswork, and hello to more confident decisions — and freedom.</p>
               </div>
               
               <div class="btn-row-globel padd-t-20"><a id="order_now_button" href="javascript:void(0)" class="btn-custom btn-pink btn-lg">Order Mira Today</a></div>
            
            </div>
         </div>
        <div class="col-lg-6">
          <div class="reach-sec-img">
            <img src="{{ 'kit-order-cta.png' | file_img_url: '' }}" alt="icon">
          </div>
        </div>
        
        
      </div>
   </div>
</div>


{% schema %}
  {
    "name": "Order Cta",
    "settings": [],
    "presets": [
      {
        "name": "Order Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}