<div class="faq-sec mira-ovum-wands-faq padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>FAQs</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  How many Mira Ovum wands do I need per cycle?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>If you select the "Only Fertility Status Check" mode on the Mira app, the <a href="/products/fertility-ovum-wands" target="_blank">Ovum Wands</a> testing days will become 3-5 per cycle. However, if you choose the "Cycle Tracking" mode on the app, the Ovum Wands testing days will become 15-20- the same amount of days as the <a href="/products/mira-max-test-wands" target="_blank">Max Wands</a>.</p>
                  </div>
               </div>
            </div>
            <div class="card" style="display:none;">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  If I pre-order and change my mind or get pregnant, can I cancel?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>Yes, you can! Simply contact support, and we will refund your pre-order.</p>
                  </div>
               </div>
            </div>
           	 <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  Can I use my current Mira Monitor to test with the Mira Ovum Wands?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>Yes! Please make sure your Mira's software version is 01.07.01.17 or higher. Please tap "My Mira Monitor" on your Profile page while your Monitor is paired to see if your software version is V01.06.xx.xx or V01.07.xx.xx.
                    <br>Both V01.06.xx.xx and V01.07.xx.xx can be upgraded to 01.07.01.17 or higher.</p>
                  </div>
               </div>
            </div>
                       
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center"><a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
   </div>
</div>

{% schema %}
  {
    "name": "Ovum FAQ",
    "settings": [],
    "presets": [
      {
        "name": "Ovum FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
