<div class="reach-sec padd-t-b-100 make-sanse-fertility">

<div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="reach-sec-info">
               <div class="">
                  <h3>Make Sense Of Your Fertility Plans With Mira Ovum</h3>
                 <p>From thinking of babies all the way to perimenopause, track your FSH for better outcomes.</p>
               </div>
               
               <div class="btn-row-globel padd-t-20"><a href="javascript:void(0)" id="order_now_button" class="btn-custom btn-pink btn-lg">Order Now</a></div>
            
            </div>
         </div>
        <div class="col-lg-6">
          <div class="reach-sec-img">
            <img src="{{ 'make_sense_fertility.svg' | file_url }}" alt="icon">
          </div>
        </div>
        
        
      </div>
   </div>
</div>


{% schema %}
  {
    "name": "Ovum Order Cta",
    "settings": [],
    "presets": [
      {
        "name": "Ovum Order Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
