<div class="track-fsh-sec">
   <div class="container">
      <div class="row">
         <div class="col-md-7 order-2 order-md-1">
            <div class="track-fsh-col">
               <h3>Track FSH to plan for the future</h3>
              <p>FSH is the hormone that stimulates follicle growth and takes part in triggering ovulation. Get more insights into your ovulation and plan your fertility by tracking your FSH levels.</p>
             
            </div>
         </div>
         <div class="col-md-5 order-1 order-md-2">
            <div class="track-fsh-img">
               <img class="discover-image" src="{{ 'track_fsh_img.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
      </div>
   </div>
  </div>
<div class="padd-b-100 kgol-use-sec track-feature-sec">
  <div class="container">
        <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-6">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'ovum_features_img01.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-6">
            <div class="can-cup-help-col">
               <h4>Check your fertility status</h4>
              <p>Higher levels of FSH indicate your ovaries have fewer follicles—which is completely normal as we get older. Test to get a clear view of your fertility health, learn how far you are from perimenopause, share your data with your doctors, and boost your chances of conceiving. </p>
             
            </div>
         </div>
         
      </div>
    </div>
    
    <div class="kgol-use-row kgol-use-row-2">
        <div class="row">
          <div class="col-md-5 order-sm-2">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'ovum_features_img02.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-7 order-sm-1">
            <div class="can-cup-help-col">
               <h4>Conceive with <br>peace of mind</h4>
              <p>High FSH levels (even in your 20s) can impact your baby plans. Test to check for any underlying issues before trying, 
                understand the causes, and take your next steps confidently.</p>
             
            </div>
         </div>
         
      </div>
    </div>
    
   
        <div class="kgol-use-row">
        <div class="row">
          <div class="col-md-6">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'ovum_features_img03.svg' | file_url }}" alt="img">
            </div>
         </div>
         <div class="col-md-6">
            <div class="can-cup-help-col">
               <h4>Detect menopause sooner</h4>
              <p>Irregular periods, hot flashes, and vaginal dryness are some of the symptoms of perimenopause or menopause. Track your FSH to know if your symptoms are due to this or other conditions like thyroid issues or anxiety disorders.</p>

              <p class="disclaimer">Disclaimer: <em>Medications containing hormones (gonadotropins, birth control) or ovulation inductors (Clomiphene Citrate, Letrozole) may alter your fertility evaluation or menopause prediction results. Mira does not diagnose or treat any diseases. You should always consult with your doctor.</em></p>

              <p class="disclaimer"><em>Only a healthcare professional can confirm your menopause stage</em></p>
      
            </div>
         </div>
         
      </div>
    </div>
    

    
    
    
  </div>
</div>






{% schema %}
  {
    "name": "OVUM Features",
    "settings": [],
    "presets": [
      {
        "name": "OVUM Features"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
