<div class="hormones-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="harmones-left-col" style="background: #F8F8F8;">
               <h2>Test 5 key biomarkers from home</h2>
               <p>Expand your view into your body's needs. Understand your fertility health status and get 5 personalized reports.</p>
               <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/panorama-chart.png" alt="">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="row">
               <div class="col-6 col-lg-4">
                  <div class="harmones-tooltop-col harmones-tooltop-1" style="background: #FCF8E9;">
                     <div class="harmones-bubble-col harmones-bubble-small">
                        <a href="https://www.miracare.com/blog/what-does-amh-mean/" target="_blank"><span>AMH</span></a>
                     </div>
                     <div class="harmones-tooltip-item">
                        <span class="tooltip-btn">!</span>
                        <div class="tooltip-popup">
                           <p>The AMH (anti-mullerian hormone) is made up of small follicles in the ovaries that show how many eggs a person has left.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="harmones-tooltop-col harmones-tooltop-2" style="background: #E6E3F3;">
                     <div class="harmones-bubble-col harmones-bubble-small">
                        <a href="https://www.miracare.com/blog/what-is-tsh/" target="_blank"><span>TSH</span></a>
                     </div>
                     <div class="harmones-tooltip-item">
                        <span class="tooltip-btn">!</span>
                        <div class="tooltip-popup">
                           <p>TSH is a hormone produced by the pituitary gland, which impacts your body's metabolism and, indirectly, your menstrual cycle and fertility health.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="harmones-tooltop-col harmones-tooltop-3" style="background: #EBEEF2;">
                     <div class="harmones-bubble-col harmones-bubble-small">
                        <a href="https://www.miracare.com/blog/what-is-ft4/" target="_blank"><span>fT4</span></a>
                     </div>
                     <div class="harmones-tooltip-item">
                        <span class="tooltip-btn">!</span>
                        <div class="tooltip-popup">
                           <p>fT4 is the primary hormone that your thyroid gland makes. Measuring your fT4 can help identify symptoms of thyroid problems like weight changes, menstrual irregularities, infertility, etc.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-6">
                  <div class="harmones-tooltop-col" style="background: #E1F2F2;">
                     <div class="harmones-bubble-col">
                        <a href="https://www.miracare.com/blog/what-does-prolactin-test-mean/" target="_blank"><span>Prolactin</span></a>
                     </div>
                     <div class="harmones-tooltip-item">
                        <span class="tooltip-btn">!</span>
                        <div class="tooltip-popup">
                           <p>Prolactin stimulates milk production after you give birth. It also affects various body systems—including reproductive, behavioral, nervous, and immune systems.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="harmones-tooltop-col" style="background: #EAF3EF;">
                     <div class="harmones-bubble-col">
                        <a href="https://www.miracare.com/blog/free-testosterone-test/" target="_blank"><span>Free<br>testosterone</span></a>
                     </div>
                     <div class="harmones-tooltip-item">
                        <span class="tooltip-btn">!</span>
                        <div class="tooltip-popup">
                           <p>Free Testosterone is produced in small amounts in people’s ovaries. It plays an essential role in your health, helping to maintain a healthy sex drive and strengthening your bones.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="practical-steps">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="practical-steps-col">
               <h2>Let’s translate your numbers into practical steps</h2>
            </div>
         </div>
         <div class="col-md-6">
            <div class="practical-steps-col">
               <p>Knowing what to do with your health data is as important as discovering it. With the help of AI and our medical professionals, you will receive practical information according to your results.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="practical-steps-col">
               <h3>We like our data to be:</h3>
            </div>
         </div>
         <div class="col-md-6">
            <div class="track-key-col">
               <ul>
                  <li><img class="plan-check-icon" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Check-Cards.svg?v=1699046356" width="40">Easy to understand</li>
                  <li><img class="plan-check-icon" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Check-Cards.svg?v=1699046356" width="40">100% personalized</li>
                  <li><img class="plan-check-icon" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Check-Cards.svg?v=1699046356" width="40">Practical</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="report-sec">
      <div class="container">
         <h2>You will get the following reports:</h2>
         <ul>
            <li>
               <div class="report-col">
                  <i class="report-file-icon"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/file-text_icon_a26192fd-9e54-46d2-877e-49e9b0b88c4e.svg?v=1704309206"></i>
                  <h3>Fertility Health Report</h3>
                  <p>Based on Free Testosterone, Prolactin, TSH, and fT4 Results.</p>
               </div>
            </li>
            <li>
               <div class="report-col">
                  <i class="report-file-icon"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/file-text_icon_a26192fd-9e54-46d2-877e-49e9b0b88c4e.svg?v=1704309206"></i>
                  <h3>Ovarian Reserve Report</h3>
                  <p>Based on your AMH results.</p>
               </div>
            </li>
            <li>
               <div class="report-col">
                  <i class="report-file-icon"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/file-text_icon_a26192fd-9e54-46d2-877e-49e9b0b88c4e.svg?v=1704309206"></i>
                  <h3>Hormonal Balance Report</h3>
                  <p>Based on your prolactin and free testosterone results.</p>
               </div>
            </li>
            <li>
               <div class="report-col">
                  <i class="report-file-icon"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/file-text_icon_a26192fd-9e54-46d2-877e-49e9b0b88c4e.svg?v=1704309206"></i>
                  <h3>Thyroid Function Report</h3>
                  <p>Based on your TSH and  fT4 results.</p>
               </div>
            </li>
            <li>
               <div class="report-col">
                  <i class="report-file-icon"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/file-text_icon_a26192fd-9e54-46d2-877e-49e9b0b88c4e.svg?v=1704309206"></i>
                  <h3>Menstrual Cycle Rhythm Report</h3>
                  <p>Based on your Prolactin and Free Testosterone results.</p>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <div class="hormonal-report-sec">
      <div class="container">
         <div class="hormonal-report-inner">
            <h2>See what our hormone test report looks like</h2>
            <div class="hormonal-report-form">
               <div id="om-lfs8gviojuybv4slnjdk-holder"></div>
            </div>
         </div>
         <div class="disclaimer-col">
            <p>
               DISCLAIMER: THIS TEST DOES NOT PROVIDE MEDICAL ADVICE.
               The information, including but not limited to, text, graphics, images, and other material contained in these reports, 
               are for informational purposes only and are based on the test results and symptoms provided by the user. No material 
               in this report is intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the 
               advice of your physician or other qualified health care provider with any questions regarding a medical condition or 
               treatment before undertaking a new health care regimen, 
               and never disregard professional medical advice or delay in seeking it because of something you have read in this report.
            </p>
         </div>
      </div>
   </div>
</div>
<div class="understand-reason">
   <div class="customer-storie customers-product-sec doctor-success-stories padd-b-30 padd-t-30">
      <div class="container">
         <div class="bf-bundle-page-title padd-b-20">
            <h2>Understand the reason behind the following symptoms</h2>
         </div>
         <div class="row-" id="success-stories-column-4-slider">
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon01.svg?v=1704310516" alt="img">
                  <h4>Difficulties getting pregnant</h4>
                  <p>If you’ve been trying to conceive without success, get an extensive hormone check up to find out why.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon02.svg?v=1704310516" alt="img">
                  <h4>Irregular cycles</h4>
                  <p>Irregularities in your cycle rythm could cause issues in your fertility planning & lifestyle.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon03.svg?v=1704310516" alt="img">
                  <h4>Heavy periods</h4>
                  <p>Bleeding heavily may be a sign. Understand what is happening and what you can do for your body.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon04.svg?v=1704310516" alt="img">
                  <h4>Extreme mood swings</h4>
                  <p>Unpredictable and extreme mood changes may indicate abnormal hormonal interactions.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon05.svg?v=1704310516" alt="img">
                  <h4>Excessive facial and body hair</h4>
                  <p>Growth of dark or coarse hair in your face, chest, and/or back may occur due to an increase in your androgens.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon06.svg?v=1704310516" alt="img">
                  <h4>Skin issues</h4>
                  <p>Dry skin, oily skin or acne resistant to all types of skin care may indicate a hormonal issue.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon07.svg?v=1704310516" alt="img">
                  <h4>Hair thinning/loss</h4>
                  <p>Thinning hair or less growth, either gradually or suddenly, may indicate abnormal hormonal changes.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon08.svg?v=1704310516" alt="img">
                  <h4>Feeling too cold or too hot</h4>
                  <p>If you have hot flashes or cold shivers, no matter the weather or room temperatures, this may be a sign to check your hormonal health.</p>
               </div>
            </div>
            <div class="col-md-12">
               <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/symptoms_icon09.svg?v=1704310516" alt="img">
                  <h4>Breast tenderness</h4>
                  <p>Swelling, tenderness, sensitivity and pain in your breasts before your period or during your cycle may be a sign of a hormonal imbalance.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="result-help-you-discover">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="result-help-left">
            <h2>Here’s what your results will help you discover</h2>
            <div class="bf-bundle-banner-btn">
               <a href="javascript:void(0)" id="order_now_button" class="bf-add-cart-btn btn-custom button">Order Now</a>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="result-help-right">
            <h4>Assess your ovarian reserve</h4>
            <p>Understand how many eggs you have left and how far you are from perimenopause.</p>
            <h4>Evaluate your hormones and overall fertility</h4>
            <p>Discover if you have any hormone imbalances that may affect your sexual function, ovulation, and cycle.</p>
            <h4>Understand where your symptoms are coming from</h4>
            <p>Some of your symptoms, like changes in your weight, cycle regularity, or energy loss, may be connected to hormone imbalances.</p>
            <h4>Know if you need to speak with your doctor</h4>
            <p>Identify if you need a medical consultation due to worrisome hormonal levels.</p>
            <h4>And much more:</h4>
            <p>Assess breast health, evaluate thyroid function, understand your cycle rhythm, etc.</p>
         </div>
      </div>
   </div>
</div>
</div>
<div class="cards-3-columns padd-b-60 padd-t-60 panorama-test-steps">
   <div class="wands-inside-product-row">
      <div class="container">
         <div class="bf-bundle-page-title">
            <h2>Testing with Mira Panorama is easy</h2>
         </div>
         <div id="panorama-test-steps-slider" class="row">
            <div class="col-md-4">
               <div class="inside-bundle-item">
                  <div class="inside-sec-img">
                     <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/panorama_easy_step01.svg?v=1704312303" alt="">
                  </div>
                  <div class="inside-bundle-item-top">
                     <div class="step-number">Step 1</div>
                     <h3>Get your testing kit</h3>
                     <p>Receive a package with everything you need to test from home. </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="inside-bundle-item">
                  <div class="inside-sec-img">
                     <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/panorama_easy_step02.svg?v=1704312303" alt="">
                  </div>
                  <div class="inside-bundle-item-top">
                     <div class="step-number">Step 2</div>
                     <h3>Collect your sample</h3>
                     <p>We will provide detailed instructions about how to test and return your sample to the lab.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="inside-bundle-item">
                  <div class="inside-sec-img">
                     <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/panorama_easy_step03.svg?v=1704312303" alt="">
                  </div>
                  <div class="inside-bundle-item-top">
                     <div class="step-number">Step 3</div>
                     <h3>Get your results in 2-3 days</h3>
                     <p>After your sample reaches the lab, expect your results in 2-3 business days via your Mira Personal Account.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="panorama-max-kit-comparison">
   <div class="container">
      <h2>Reach your fertility goals faster with this powerful combination</h2>
      <ul class="goals-plan-row">
         <li>
            <div class="goals-plan-col">
               <h3>&nbsp;</h3>
               <ul>
                  <li>Hormones you can test</li>
                  <li>Method</li>
                  <li>What's included</li>
                  <li>Testing frequency</li>
                  <li>Discover</li>
               </ul>
            </div>
         </li>
         <li>
            <div class="goals-plan-col">
               <h3 style="color:#3FC15F;">Mira Panorama Fertility<br> Lab Test</h3>
               <ul>
                  <li>
                     <label>Hormones you can test</label>
                     AMH, TSH, fT4, Prolactin and Free Testosterone
                  </li>
                  <li>
                     <label>Method</label>
                     Blood
                  </li>
                  <li>
                     <label>What's included</label>
                     Finger prick test
                  </li>
                  <li>
                     <label>Testing frequency</label>
                     Check once in a menstrual cycle
                  </li>
                  <li>
                     <label>Discover</label>
                     Your overall fertility health and ovarian reserve
                  </li>
               </ul>
               <div class="goals-price-bar">
                  <div class="price-goal">$179</div>
                  <form method="post" action="/cart/add" class="add-to-cart">
                     <input type="hidden" name="quantity" value="1">
                     <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                     <input name="add" value="Add to Cart" type="submit" class="bf-add-cart-btn btn-custom button" />
                  </form>
               </div>
            </div>
         </li>
         <li>
            <div class="goals-plan-col">
               <h3 style="color:#7734CC;">Mira Max<br> Starter Kit</h3>
               <ul>
                  <li>
                     <label>Hormones you can test</label>
                     LH, E3G, PdG
                  </li>
                  <li>
                     <label>Method</label>
                     Urine 
                  </li>
                  <li>
                     <label>What's included</label>
                     Hormone monitor + replaceable wands
                  </li>
                  <li>
                     <label>Testing frequency</label>
                     Monitor daily throughout your entire cycle
                  </li>
                  <li>
                     <label>Discover</label>
                     Your ovulation day and 6-day fertile window
                  </li>
               </ul>
               <div class="goals-price-bar">
                  <div class="price-goal">$229-249</div>
                  <form method="post" action="/cart/add" class="add-to-cart">
                     <input type="hidden" name="quantity" value="1">
                     <input type="hidden" name="id" value="45163642192165"/>
                     <input name="add" value="Add to Cart" type="submit" class="bf-add-cart-btn btn-custom button" />
                  </form>
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>
<div class="panorama-sec-expand-view padd-b-40">
   <div class="container">
      <div class="panorama-lab-test-heading-1 text-center">
         <h2>Cancellation and Return Policy</h2>
         <div class="small-container">
            <p>Before making a purchase, please carefully review the Mira Panorama Lab Test cancellation and return policy.</p>
            <p><a href="javascript:void(0)" class="open_mira_popup bf-add-cart-btn btn-custom button">Read Now</a></p>
         </div>
      </div>
   </div>
</div>
<div class="full-width-cta take-control-sec">
   <div class="container">
      <div class="consultation-inner">
         <div class="panorama-lab-test-heading-1">
            <h2>Take control with the help of science</h2>
         </div>
         <p>Gain a complete view of your reproductive health and<br> understand what to do next—your body will thank you.</p>
         <div class="bf-bundle-banner-btn">
            <a href="javascript:void(0)" id="order_now_button" class="bf-add-cart-btn btn-custom button">Buy Now</a>
         </div>
      </div>
   </div>
</div>
<section class="template_section_video_light_box mira_content_popup pre-popup-sec panorama-popup">
   <div class="close_light_box closing_area"></div>
   <div class="template_section_video_light_box_content">
      <div class="video_holder">
         <div class="pre-popup-container">
            <div class="close_light_box">
               <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/x_close_btn.svg?v=1659040151">
            </div>
            <div class="text-center title-part">
               <h2>Cancellation and Return Policy</h2>
            </div>
            <p>We do not provide cancellations, returns, or refunds for the Mira Panorama Lab Test. All sales are final. Unused tests cannot be returned. If you've received your order and no longer wish to proceed with the test, kindly discard the test kit. Note: All tests must be registered and returned to the lab within 3 months of purchase.</p>
            <p>Additionally, unregistered tests expire after 3 months, and any samples delivered to the lab beyond this timeframe will not be processed. We are unable to offer a replacement test due to expiration.</p>
            <p class="text-center">
               <a href="javascript:void(0)" class="close_popup bf-add-cart-btn btn-custom button">Got it</a>
            </p>
         </div>
      </div>
   </div>
</section>
{% schema %}
{
"name": "Panorama Sections",
"settings": [],
"presets": [
{
"name": "Panorama Sections"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}