
<section class="perfect-gift-sec">
            <div class="container">
              <div class="row">
                <div class="col-md-6 order-2 order-sm-1">
                   <div class="perfect-gift-text">
                <h2>Mira is the perfect gift</h2>
                    
                  <p>
                  If you know someone struggling on their fertility journey, your love and support mean the world to them. Let your 
                    friend know there are other ways to navigate their journey — one where 
                    guesswork and stress are off the table and replaced with easy, at-home fertility tracking.
                  </p>
                  <div class="gift-green-text">We promise to support them all the way through</div>
                  </div>
                </div>

                <div class="col-md-6 order-1 order-sm-2">
                  <div class="perfect-gift-img">
                <img class="circle" src="{{ 'perfect_gift_img.png' | file_img_url: '' }}" alt="">
                    </div>
                </div>
            </div>
  </div>
        </section>











{% schema %}
  {
    "name": "Perfect Gift",
    "settings": [],
    "presets": [
      {
        "name": "Perfect Gift"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
