<div class="perks-mira-cup-sec perks-mira-shape padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>Perks of Using the Mira Cup</h2>
      </div>
      <div class="row">
         <div class="col-lg-7 order-lg-2">
            <div class="how-different-col">
               <ul>
                  <li class="FadeInUpBig">It's longlasting. A single cup can last up to 15 years.</li>
                  <li class="FadeInUpBig">Save money on all the disposable period products you won't need anymore.</li>
                  <li class="FadeInUpBig">Give the planet a break and contribute with less waste.</li>
                  <li class="FadeInUpBig">Wear time is up to 12 hours of super comfy and safe periods. Yay!</li>
               </ul>
            </div>
         </div>
         <div class="col-lg-5 order-lg-1" style="display:none;">
            <div class="how-different-img mira_perks_imgs">
               <img class="mira_perks_cup" src="{{ 'mira_perks_cup.png' | file_img_url: '' }}" alt="img">
               <img class="mira_perks_vector" src="{{ 'mira_perks_vector.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
        
        <div class="col-lg-5 order-lg-1">
          <div class="how-different-img">
            <img class="how-different-image" src="{{ 'mira_perks_cup.png' | file_img_url: '' }}" alt="img">
            
            <img class="how-to-image-line-1" src="{{ 'perks_mira_cup_vactor.svg' | file_url }}" alt="">
          </div>
        </div>
        
       
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "Perks Mira Cup",
    "settings": [],
    "presets": [
      {
        "name": "Perks Mira Cup"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
