<div class="faq-sec padd-t-b-100 pre-faq-sec">
   <div class="container">
      <div class="heading-1">
         <h2>FAQs</h2>
      </div>
      <div class="question-col">
         <div id="accordion-2" class="accordion accordion-sec">
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                  <a href="javascript:void(0)" class="card-title">
                  When should I start taking Mira Prenatal?
                  </a>
               </div>
               <div id="d1" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                     <p>Ideally, you’ll want to start as soon as you decide you want to conceive and at least 3 months before conception. Taking prenatal supplements during the first 12 weeks of your pregnancy is critical to support your baby’s development.</p>
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                  <a href="javascript:void(0)" class="card-title">
                  Does Mira Prenatal have all the nutrients I need?
                  </a>
               </div>
               <div id="d2" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>This will depend on each person’s pre-pregnancy nutrition level and health goals/concerns. Mira Prenatal contains many vital nutrients your body might need to support your pregnancy. Keep in mind that supplements are not designed to replace a well-balanced diet.</p>
                  </div>
               </div>
            </div>
           	 <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                  <a href="javascript:void(0)" class="card-title">
                  How should I take the vitamins?
                  </a>
               </div>
               <div id="d3" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>Suggested use is two (2) capsules per day.</p>
                  </div>
               </div>
            </div>

           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                  <a href="javascript:void(0)" class="card-title">
                  Can I take Mira Prenatal Multi-Vitamins without a prescription?
                  </a>
               </div>
               <div id="d4" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>Yes, you can. If you have any health concerns or diagnosed issues, you can always consult with a health care provider before taking any multivitamins.</p>
                  </div>
               </div>
            </div>

           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                  <a href="javascript:void(0)" class="card-title">
                  Why do Mira’s Prenatal Supplements have a particular smell?
                  </a>
               </div>
               <div id="d5" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>Because it means you’re getting a high-quality supplement! In fact, it’s a cause for concern when supplements don’t have this odor—because it means the quality is not very high.</p>
                    <p>Check out more details on this topic <a href="https://help.miracare.com/en_us/should-my-mira-prenatal-supplements-have-an-odor-SkPe8duIo" target="_blank">here</a>.</p>
                  </div>
               </div>
           </div>
           <div class="card">
               <div class="card-header collapsed" data-toggle="collapse" href="#d6">
                  <a href="javascript:void(0)" class="card-title">
                  Are there any potential allergens in the Mira Prenatal Multi-Vitamins?
                  </a>
               </div>
               <div id="d6" class="card-body collapse" data-parent="#accordion" >
                  <div class="accordion-link-col">
                    <p>We want our customers to feel comfortable taking our supplements, so we've formulated them without major allergens, sugar, stevia, sugar alcohols, artificial colors, flavors, or sweeteners. That said, it's always a good idea to double-check the supplement facts list to see if there's anything you might be hypersensitive to. For more details, you can find the supplement facts <a target="_blank" href="#" class="open_mira_popup">here</a>.</p>
                  </div>
               </div>
           </div>
            
                       
            
         </div>
      </div>
      <div class="btn-row-globel padd-t-60 text-center">
        <a target="_blank" href="https://help.miracare.com" class="btn-custom btn-pink btn-lg">Discover More</a></div>
   </div>
</div>

{% schema %}
  {
    "name": "Pre Faq",
    "settings": [],
    "presets": [
      {
        "name": "Pre Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
