<div class="rest-sec financing-sec product-benefits-sec">
  <div class="container">
    <div class="heading-1">
    <h3>Premium ingredients for your fertility journey</h3>
  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <img src="{{ 'product_benefits.svg' | file_url }}" alt="">
          </div>
          <h3>Contains high levels of antioxidants, folic acid, and vitamins</h3>
        </div>
      </div>
   <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <img src="{{ 'product_benefits.svg' | file_url }}" alt="">
          </div>
          <h3>Zero-preservatives</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col FadeUp hidden visible animated fadeInUp">
          <div class="rest-icon-col">
            <img src="{{ 'product_benefits.svg' | file_url }}" alt="">
          </div>
          <h3>Ingredients hand-picked by fertility experts</h3>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Pre Benefits",
    "settings": [],
    "presets": [
      {
        "name": "Pre Benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}