<section class="template_section_video_light_box mira_content_popup pre-popup-sec pre-prenatal-popup">
   <div class="close_light_box closing_area"></div>
   <div class="template_section_video_light_box_content">
      <div class="video_holder">
         <div class="pre-popup-container">
            <div class="close_light_box"><img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/x_close_btn.svg?v=1659040151"></div>
            <div class="heading-1">
               <h2>Supplement Facts</h2>
              <div class="d-flex flex-column align-items-start">
                  <span>Serving size: 2 Capsules. </span>
                  <span>Servings Per Container: 30</span>
              </div>
               
            </div>
            <div class="swaipe-right"><span>Swipe to right <img src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/swipe_right_arrow.svg?v=1659077863"></span></div>
            <div class="pre-popup-inner">
               <table class="table">
                  <tr>
                     <th width="60%" style="color:#003630">&nbsp;</th>
                     <th width="20%" style="color:#003630;font-size:16px">Amount per Serving</th>
                     <th width="20%" align="right">
                       <div class="d-flex" style="text-wrap: wrap;color:#003630;font-size:16px">%DV for Pregnant and Lactating Women</div>
                     </th>
                  </tr>
                  <tr>
                     <td>Vitamin A (as Palmitate)</td>
                     <td>770 mcg</td>
                     <td>59%</td>
                  </tr>
                  <tr>
                     <td>Vitamin C (as Ascorbic Acid)</td>
                     <td>85 mg</td>
                     <td>71%</td>
                  </tr>
                  <tr>
                     <td>Vitamin D3 (as Cholecalciferol)</td>
                     <td>15 mcg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin E (as d-Alpha Tocopherol)</td>
                     <td>15 mg</td>
                     <td>50%</td>
                  </tr>
                  <tr>
                     <td>Vitamin K (as Phytonadione)</td>
                     <td>90 mcg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B1 (as Thiamin Mononitrate)</td>
                     <td>1.4 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B2 (as Riboflavin)</td>
                     <td>1.6 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B3 (as Niacinamide)</td>
                     <td>18 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B6 (as Pyridoxine HCl)</td>
                     <td>2 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Folate (as 5-Methyltetrahydrofolate)</td>
                     <td>470 mcg</td>
                     <td>133%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B12 (as Methylcobalamin)</td>
                     <td>2.8 mcg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Vitamin B7 (as Biotin 1%)</td>
                     <td>35 mcg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Choline (as Choline Bitartrate)</td>
                     <td>100 mg</td>
                     <td>20%</td>
                  </tr>
                  <tr>
                     <td>Iron (as Ferrous Fumerate)</td>
                     <td>27 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Iodine (as Potassium Iodide)</td>
                     <td>145 mcg</td>
                     <td>50%</td>
                  </tr>
                  <tr>
                     <td>Magnesium (as Magnesium Glycinate)</td>
                     <td>50 mg</td>
                     <td>12%</td>
                  </tr>
                  <tr>
                     <td>Zinc (as Zinc Citrate)</td>
                     <td>13 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Selenium (as SelenoExcell®)</td>
                     <td>70 mcg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Copper (as Copper Chelate)</td>
                     <td>1.3 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td>Manganese (as Manganese Bisglycinate Chelate)</td>
                     <td>2.6 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td colspan="3" style="text-align:left;">
                       <div class="d-flex flex-column" style="text-wrap: wrap;" >
                        <span style="color:#003630;padding-bottom:10">** Daily Value (DV) not established.</span>
                        <span style="color:#003630">Other Ingredients: Hypromellose (capsules), Vanilla Powder, Silica, Magnesium Stearate. SelenoExcell® is a registered trademark of CypressSystems, I­nc.</span>
                        </div>
                       </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
{% schema %}
  {
    "name": "Prenatal popup new",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal popup new"
      }
    ]
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}