<section class="template_section_video_light_box mira_content_popup pre-popup-sec">
   <div class="close_light_box closing_area"></div>
   <div class="template_section_video_light_box_content">
      <div class="video_holder">
         <div class="pre-popup-container">
            <div class="close_light_box"><img src="{{ 'x_close_btn.svg' | file_url }}"></div>
            <div class="heading-1">
               <h2>Supplement facts</h2>
               <p>Serving Size: 2 capsules.
                  Servings Per Bottle: 30.
               </p>
            </div>
            <div class="swaipe-right"><span>Swipe to right <img src="{{ 'swipe_right_arrow.svg' | file_url }}"></span></div>
            <div class="pre-popup-inner">
               <table class="table">
                  <tr>
                     <th>&nbsp;</th>
                     <th>Amount per capsule</th>
                     <th>%, Daily Value</th>
                  </tr>
                  <tr>
                     <td><strong>Retinyl Acetate Powder</strong> <span>500,000iu/g (Vitamin A Acetate)</span></td>
                     <td>0.77 mg</td>
                     <td>86%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin C</strong> <span>(as Ascorbic Acid)</span></td>
                     <td>60 mg</td>
                     <td>67%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin D3</strong> <span>(as Cholecalciferol)</span></td>
                     <td>0.015 mg</td>
                     <td>75%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin E</strong> <span>(as DL-Alpha Tocopheryl Acetate)</span></td>
                     <td>15 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin K1</strong> <span>(as Phytonadione)</span></td>
                     <td>0.025 mg</td>
                     <td>21%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin B1</strong> <span>(as Thiamine)</span></td>
                     <td>1.5 mg</td>
                     <td>125%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin B2</strong> <span>(as Riboflavin)</span></td>
                     <td>1.7 mg</td>
                     <td>131%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin B3</strong> <span>(as Niacinamide)</span></td>
                     <td>20 mg</td>
                     <td>125%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin B6</strong> <span>(as Pyrodoxine)</span></td>
                     <td>2 mg</td>
                     <td>118%</td>
                  </tr>
                  <tr>
                     <td><strong>Vitamin B12</strong> <span>(as Cyanocobalamin)</span></td>
                     <td>0.0026 mg</td>
                     <td>108%</td>
                  </tr>
                  <tr>
                     <td><strong>Folate</strong> <span>(as Folic Acid)</span></td>
                     <td>0.6 mg</td>
                     <td>150%</td>
                  </tr>
                  <tr>
                     <td><strong>Biotin</strong> <span>(trit on DCP)</span></td>
                     <td>0.03 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td><strong>Panthothenic Acid</strong> <span>(as D-Calcium Pantothenate)</span></td>
                     <td>6 mg</td>
                     <td>120%</td>
                  </tr>
                  <tr>
                     <td><strong>Calcium</strong> <span>(as Calcium Carbonate)</span></td>
                     <td>500 mg</td>
                     <td>38%</td>
                  </tr>
                  <tr>
                     <td><strong>Iodide</strong> <span>(as Potassium Iodide)</span></td>
                     <td>0.15 mg</td>
                     <td>100%</td>
                  </tr>
                  <tr>
                     <td><strong>Zinc</strong> <span>(as Zinc Oxide)</span></td>
                     <td>15 mg</td>
                     <td>136%</td>
                  </tr>
                  <tr>
                     <td><strong>Selenium</strong> <span>(as L-Selenomethionine)</span></td>
                     <td>0.02 mg</td>
                     <td>36%</td>
                  </tr>
                  <tr>
                     <td><strong>Copper</strong> <span>(as Copper Gluconate)</span></td>
                     <td>2 mg</td>
                     <td>154%</td>
                  </tr>
                  <tr>
                     <td><strong>Manganese</strong> <span>(as Manganese Sulfate)</span></td>
                     <td>2 mg</td>
                     <td>87%</td>
                  </tr>
                  <tr>
                     <td><strong>Choline</strong> <span>(as Choline Bitartrate)</span></td>
                     <td>50 mg</td>
                     <td>9%</td>
                  </tr>
                  <tr>
                     <td><span>Other ingredients: Rice (Oryza sativa cera) flour, Magnesium stearate, Silica, Cellulose.</span></td>
                     <td>&nbsp;</td>
                     <td>&nbsp;</td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>
{% schema %}
{
    "name": "Pre Popup",
    "settings": [],
    "presets": [
      {
        "name": "Pre Popup"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}