<div class="track-fsh-sec lubricant-helps-sec prenatal-img-with-desc-22">
   <div class="container">
      <div class="row">
           <div class="col-md-5">
            <div class="track-fsh-img">
               <img class="left-img" src="{{ 'prenatal_img_with_desc_22_sec_Image.png' | file_img_url: '' }}
" alt="img">
            </div>
         </div>
         <div class="col-md-7">
            <div class="track-fsh-col">
               <h3>Our vitamins were formulated with your body in mind</h3>
              <p>We got you covered every step of the way. Our vitamins were meticulously crafted to meet pre-pregnancy, pregnancy, and post-pregnancy nutritional needs. Our team of experts, drawing on years of experience in reproductive health, the latest scientific research, and in collaboration with OB/GYNs, have thoughtfully handpicked these ingredients to support your journey.</p>
             
            </div>
         </div>
      
      </div>
   </div>
  </div>
{% schema %}
  {
    "name": "Prenatal Img With Desc 22",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal Img With Desc 22"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}