<div class="track-fsh-sec  prenatal-img-with-desc-17">
   <div class="container">
      <div class="row">
         <div class="col-md-7 order-2 order-md-1">
            <div class="track-fsh-col">
               <h3>Smelly vitamins? Let’s talk about it</h3>
              <p>We want to be honest with you. We included natural vanilla powder to make them more pleasant for you to take. But the truth is, the combination of ingredients might still result in strange odors — as it happens with all prenatal vitamins. This just means that you’re getting the highest quality.</p>
             <div class="btn-row-globel padd-t-20"><a target="_blank" href="https://help.miracare.com/en_us/should-my-mira-prenatal-supplements-have-an-odor-SkPe8duIo" class="btn-custom btn-pink btn-lg" >Learn More</a></div>
            </div>
         </div>
         <div class="col-md-5 order-1 order-md-2">
            <div class="track-fsh-img">
               <img class="discover-image" src="{{ 'prenatal_img_with_sec_img.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
      </div>
   </div>
  </div>
{% schema %}
  {
    "name": "Prenatal Img With Desc 17",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal Img With Desc 17"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}