<div class="faq-sec padd-t-b-100 prenatal-new-faq">
  <div class="container">
    <div class="heading-1">
      <h2>FAQ</h2>
    </div>
    <div class="question-col">
      <div id="accordion-2" class="accordion accordion-sec">
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d1">
            <a href="javascript:void(0)" class="card-title">
              When should I start taking Mira Prenatal?
            </a>
          </div>
          <div id="d1" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>Ideally, you'll want to begin as soon as you decide to conceive and at least 3 months before conception. Taking prenatal supplements during the first 12 weeks of pregnancy is crucial to support your baby's development.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d2">
            <a href="javascript:void(0)" class="card-title">
              How should I take the vitamins?
            </a>
          </div>
          <div id="d2" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>We recommend taking two (2) capsules per day.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d3">
            <a href="javascript:void(0)" class="card-title">
              Can I take Mira Prenatal Multi-Vitamins without a prescription?
            </a>
          </div>
          <div id="d3" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>Yes, you can. However, we always recommend consulting with a healthcare provider before starting any multivitamins.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d4">
            <a href="javascript:void(0)" class="card-title">
              Are there any potential allergens in the Mira Prenatal Multi-Vitamins?
            </a>
          </div>
          <div id="d4" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>We've carefully formulated our supplements without major allergens, sugar, stevia, sugar alcohols, artificial colors, or flavors. Nonetheless, please check the supplement facts list for any ingredients you may be sensitive to.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d5">
            <a href="javascript:void(0)" class="card-title">
              Should my Mira Prenatal Supplements have an odor?
            </a>
          </div>
          <div id="d5" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>The faint odor you might sense is a good sign! A lack of smell is actually cause for concern and indicates a dietary supplement uses low-quality ingredients. While you might notice an odd smell in our vitamins, this means you're taking a top-notch dietary supplement. Nevertheless, our experts included natural vanilla powder to make your consumption easier!</p>
              <p><strong>These ingredients may have an odor:</strong><br>
                Vitamin A (strong odor)<br>
                Vitamin K (strong odor)<br>
                Thiamine - Vitamin B1 (sulfuric odor)<br>
                Riboflavin - Vitamin B2 (mild odor)<br>
                Niacinamide - Vitamin B3 (yeast-type odor)<br>
                Biotin (sulfuric odor)<br>
                Selenium (sulfuric odor)<br>
                Choline (amine or 'fishy' odor)</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d6">
            <a href="javascript:void(0)" class="card-title">
              How were Mira Prenatal Supplements developed?
            </a>
          </div>
          <div id="d6" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>Mira's medical experts collaborated with US-based laboratories specializing in highly effective dietary supplements to craft these vitamins. Mira Prenatal contains twenty (20!) independent ingredients, each selected based on medical references for their benefits to women's health, whether trying to conceive, already pregnant, or nursing.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d7">
            <a href="javascript:void(0)" class="card-title">
              Does Mira Prenatal have all the nutrients I need?
            </a>
          </div>
          <div id="d7" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>This will depend on each person. Mira Prenatal contains all the vital nutrients your body might need to support your pregnancy. Supplements are not designed to replace a well-balanced diet.</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header collapsed" data-toggle="collapse" href="#d8">
            <a href="javascript:void(0)" class="card-title">
              What’s inside?
            </a>
          </div>
          <div id="d8" class="card-body collapse" data-parent="#accordion" >
            <div class="accordion-link-col">
              <p>Our premium ingredients were carefully sourced to ensure quality. Please check the supplement facts in the picture below. Learn more about how these ingredients work here.</p>
            </div>
          </div>
        </div>
                
      </div>
    </div>
    <div class="btn-row-globel padd-t-60 text-center"><a href="https://help.miracare.com" target="_blank" class="btn-custom btn-pink btn-lg">More FAQs</a></div>
  </div>
</div>
{% schema %}
  {
    "name": "Prenatal New Faq",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal New Faq"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}