<div class="prenatal-essentials padd-t-60">
  <div class="container">
    <div class="title-part d-flex flex-column">
        <h2 class="d-flex justify-content-center text-center">Inside our vitamins, you’ll find the essentials</h2>
        <p class="d-flex justify-content-center text-center">Our experts selected the necessary nutrients and carefully combined them to craft vitamins that help enhance every stage of your fertility journey.</p>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Boosts your reproductive health*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Folate, Zinc, Selenium, and vitamins E and D support your reproductive health and boost your chances of conception.</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Balances your hormones*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Vitamins B, Magnesium, and Vitamin D help balance your hormones and promote healthy ovulation. They also help make your cycles regular, thus increasing your chances of conception! Vitamin B6 helps increase progesterone production and strengthens your uterine lining.</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Supports your immune system*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Vitamins A, D, C, E, and Selenium strengthen your immune system. This protects you from infections and promotes your well-being.</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Promotes healthy baby bones*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>15 mcg of Vitamin D3, Vitamin K, Manganese, and Zinc help your future baby develop strong bones.</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Supports your baby’s brain and spinal cord development*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Folate, Iodine, and Choline support your pregnancy and the development of your future baby's nervous system, including the brain, spinal cord, and nerves. We've included Folate in the form of 5-MTHF, also known as methylfolate—this is the preferred form for supplementation. This is because it represents the active form of folate utilized by the body's tissues.</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Helps build blood cells*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Folate and Vitamin B12 contribute to red blood cell formation and help carry oxygen to the future baby. Iron is also essential to building up blood cells, while vitamin C and Copper help to promote iron absorption</p>
        </div>
     </div>
    </div>
    <div class="list-icon-row row d-flex align-items-start">
      <div class="col-md-3 p-0">
        <h5>Relieves tension and calms the nervous system*</h5>
      </div>
     <div class="col-md-9">
        <div class="full-list-text-col">
          <p>Magnesium and Vitamin B6 promote tension relief—which is essential for a healthy pregnancy.</p>
        </div>
     </div>
    </div>

    <p class="d-flex justify-content-center pt-2 mb-0 note-msg text-center">*The Food and Drug Administration has not evaluated these statements. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
      <div class="btn-row-globel text-center">
        <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg open_mira_popup">View Supplement Facts</a>
      </div>
  
</div>
  


{% schema %}
  {
    "name": "Prenatal Essentials",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal Essentials"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}