<div class=" bio-genesis-service-sec pt-first-section prenatal-quality-trusted">
  <div class="container">
    <div class="heading-1 ft-heading">
      <h3>Why our quality is trusted</h3>
    </div>
    <div class="row">

      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'made_in_usa_logo.svg' | file_url }}" alt="">
          </div>
        </div>
      </div>
     
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3  pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'FDA_logo.svg' | file_url }}" alt="">
          </div>
        </div>
      </div>

      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'GMP_logo.svg' | file_url }}" alt="">
          </div>
        </div>
      </div>
     
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3  pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'third_party_logo.svg' | file_url }}" alt="">
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Prenatal Quality Trusted",
    "settings": [],
    "presets": [
      {
        "name": "Prenatal Quality Trusted"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}