<div class="product-detail-tab padd-t-100">
    <div class="container">
        <div class="product-kit-tabs">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item active"> <a href="#tab01" class="nav-link" data-toggle="pill">Product Details & Specifications</a> </li>
                <li style="display:none;" class="nav-item"> <a href="#tab02" class="nav-link" data-toggle="pill">Product Details</a> </li>
                <li class="nav-item"> <a href="#tab03" class="nav-link" data-toggle="pill"> Warranty/Return Policy</a> </li>
                <li class="nav-item"> <a href="#tab04" class="nav-link" data-toggle="pill">Order Delivery Times</a> </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab01">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pro-kit-tab-img">
                                <div class="pro-kit-thumb"><img src="{{ 'starter-kit-whats-inside.png' | file_img_url: '' }}" alt="" /> </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="pro-kit-tab-text">
                                <h3>Included with your starter kit</h3>
                                <div class="list-text-pro-kit">
                                    <div class="list-title"><span>1</span> Mira Fertility Monitor Box</div>
                                    <ul>
                                        <li>Mira Monitor</li>
                                        <li>Deluxe Mira Carrying Pouch</li>
                                        <li>Charging Cable</li>
                                        <li>10 Single-use Estradiol Metabolite (E3G) + Luteinizing Hormone (LH) Test Wands</li>
                                        <li>1 Silicone Cup</li>
                                        <li>Quickstart Guide: Step-by-step instructions to get started with Mira</li>
                                    </ul>
                                </div>
                                <div class="pro-kit-tab-text">
                                    <div class="list-text-pro-kit">
                                        <div class="list-title"><span>2</span> Mira App</div>
                                        <ul>
                                            <li>Sync The Mira Monitor to the Mira App, compatible with all iPhone devices (iOS 10.0 and up) and Android devices (Android 5.0 and up)</li>
                                            <li>Requires Bluetooth</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab02" style="display:none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pro-kit-tab-text">
                                <h3>Product Details & Specifications</h3>
                                <div class="list-text-pro-kit">
                                    <div class="list-title"><span>1</span> Mira App</div>
                                    <ul>
                                        <li>The Mira Monitor syncs with the Mira App that is compatible with all iPhone devices (iPhone 5 &amp; iOS 10.6 and up) and Android devices (Android 5.0+ or higher).</li>
                                        <li>Requires Bluetooth</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-kit-tab-text">
                                <div class="list-text-pro-kit">
                                    <div class="list-title"><span>2</span> Mira Monitor</div>
                                    <ul>
                                        <li>10 Individually Packaged Single-Use Mira Test Wands.</li>
                                        <li>User Manual</li>
                                        <li>Quickstart Guide: Step-by-step instructions to get started with Mira.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-kit-tab-text">
                                <div class="list-text-pro-kit">
                                    <div class="list-title"><span>3</span> Mira Fertility Wands</div>
                                    <ul>
                                        <li>FDA registered and CE certified</li>
                                        <li>Ergonomic&nbsp;design</li>
                                        <li>Single-use</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab03">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pro-kit-tab-text">
                                <h3><a target="_blank" href="https://help.miracare.com">Return Policy</a></h3>
                                <div class="list-text-pro-kit">
                                    <p>The Mira Monitor and Mira Test Wands are non-returnable. Only the Starter Kit has a 90-day money-back guarantee. For damaged or defective products (covered by our one-year limited warranty described below), please contact us at <a href="mailto:support@miracare.com" target="_blank">support@miracare.com</a>.</p>
                                </div>
                            </div>
                            <div class="pro-kit-tab-text">
                                <h3><a target="_blank" href="https://help.miracare.com">Warranty</a></h3>
                                <div class="list-text-pro-kit">
                                    <p>The Mira Monitor includes a one-year limited warranty. This limited warranty applies for a period of one (1) year from the date of purchase on your receipt. Mira requires the original receipt to determine the warranty period. During the warranty period, Mira will either repair or replace, at its own discretion, any defective Product or part free of charge.</p>
                                </div>
                            </div>
                            <div class="pro-kit-tab-text">
                                <h3><a target="_blank" href="https://help.miracare.com">90-Day Money-Back Guarantee</a></h3>
                                <div class="list-text-pro-kit">
                                    <p>The Company offers a 90-day money-back guarantee which begins on the day the Buyer has started fertility tracking with the Mira Monitor. If the Buyer has used the product continuously for three months while following instructions (i.e., testing throughout every cycle, testing more than 4 times during the predicted fertile window, and at least once on the predicted ovulation day) but didn't have an LH surge detected, the Company will refund the Starter Kit’s value to the Buyer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab04">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pro-kit-tab-text">
                                <div class="list-text-pro-kit">
                                    <h3>We ship worldwide!</h3>
                                    <p>Orders that qualify for free shipping:</p>
                                    <ul>
                                        <li>Orders over $148 in equivalent local currency in the US, Hong Kong, Singapore</li>
                                        <li>C$198 or over in Canada</li>
                                        <li>A$258 or over in Australia and New Zealand</li>
                                        <li>£148 or over in the UK</li>
                                        <li>€148 or over in the EU</li>
                                    </ul>
                                    <h3 style="margin-top: 15px;">Shipping times:</h3>
                                    <p>On average, US, UK, and AU orders arrive within 3-6 business days. Shipping to other countries may take longer, especially due to high demand. Please refer to the shipping time frame on the checkout page for more information.</p>
                                    <p>Questions? Contact us at <a target="_blank" href="mailto:support@miracare.com">support@miracare.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Product Specifications",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "Product Specifications Plus Kit"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}