<div class="can-cup-help-sec why-track-both white-sec-bg pt-second-sec">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 padd-t-88 left-sec">
            <div class="can-cup-help-col ">
               <h4>Alleviate your</br> symptoms naturally</h4>
                <p class="description"> Our experts crafted Mira’s Pregnancy Tea to nurture your body and support a healthy pregnancy. Selected to achieve a delicious combination, our ingredients also help alleviate unpleasant symptoms, such as:  
          </p>
          <ul>
            <li>Morning sickness</li>
            <li>Stomach aches</li>
            <li>Heartburn</li>
            <li>Gas</li>
            <li>Anxiety</li>
  
          </ul>
              <p class="bottom-text">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
              <div class="btn-row-globel"><a href="#" id="order_now_button" class="btn-custom btn-pink btn-lg">Add to Cart</a></div>
            </div>
         </div>
         <div class="col-lg-6 pt-right-sec">
            <div class="can-cup-help-img pt-right-img">
               <img class="discover-image" src="{{ 'second_sec_img.jpg' | file_img_url: '' }}" alt="img">
            </div>
         </div>
      </div>
   </div>
</div>



{% schema %}
  {
    "name": "PT Alleviate Symptoms",
    "settings": [],
    "presets": [
      {
        "name": "PT Alleviate Symptoms"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
