<div class="track-hormones   padd-b-60  padd-t-60">
<div class="wands-inside-product-row">
        <div class="container">
          <div class="bf-bundle-page-title">
            <h2>Track your key fertility hormones with<br> a single wand</h2>
        </div>
            <div class="row">
                <div class="col-6 col-md-3">
                  
                    <div class="inside-bundle-item">
                      <div class="inside-sec-img">
                            <span class="track-badge bg-purple1">E3G</span>
                        </div>
                        <div class="inside-bundle-item-top">                          
                            <p>Predict your full 6-day fertile window</p>
                        </div>
                      
                        
                    </div>
                </div>

                   <div class="col-6 col-md-3">
                  
                    <div class="inside-bundle-item">
                      <div class="inside-sec-img">
                             <span class="track-badge bg-light-green1">LH</span>
                        </div>
                        <div class="inside-bundle-item-top">                          
                            <p>Predict your ovulation day</p>
                        </div>
                      
                        
                    </div>
                </div>

                 <div class="col-6 col-md-3">
                  
                    <div class="inside-bundle-item">
                      <div class="inside-sec-img">
                             <span class="track-badge bg-dark-green1">PdG</span>
                        </div>
                        <div class="inside-bundle-item-top">                          
                            <p>Confirm you ovulated</p>
                        </div>
                      
                        
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Track Hormones",
    "settings": [],
    "presets": [
      {
        "name": "Track Hormones"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}