<div class="customer-storie customers-product-sec doctor-success-stories mira-journey padd-b-30 padd-t-30">
    <div class="container">
        <div class="bf-bundle-page-title padd-b-20">
            <h2>Why choose Mira for your journey?</h2>
        </div>
        <div class="slider-column-2 row">
            <div class="col-md-12">
                <div class="customers-product-col" style="background:#F3F4FF">
                    <span class="badge-heading" style="background:#CDC6E6;">Quantitative Technology:</span>
                    <p class="badge-description" >While other monitors use old tech (and don’t tell you), Mira is the only at-home monitor that uses highly calibrated quantitative technology for real-time and accurate numbers. </p>
                </div>
            </div>
          <div class="col-md-12">
                <div class="customers-product-col" style="background:#FFF3EE">
                    <span class="badge-heading" style="background:#F6CED5;">A Single Wand:</span>
                    <p class="badge-description" >While you do your morning skincare, Mira measures your 3 key fertility hormones and translates them into numbers. All in 21 minutes.</p>
                </div>
            </div>
         
            
        </div>
    </div>
</div>

<div class="customer-storie customers-product-sec doctor-success-stories padd-b-30 padd-t-30">
    <div class="container">
        <div class="bf-bundle-page-title padd-b-20">
            <h2>Read our customer's stories</h2>
            <a href="https://www.miracare.com/success-stories/" target="_blank" class="all-stories-btn">All Stories</a>
        </div>
        <div class="row-" id="success-stories-column-4-slider">
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success-Story01.png?v=1702383277" alt="img">
                    <h4>“Mira is the best product on the market right now”</h4>
                    <p>Jennifer</p>
                    <a href="https://www.miracare.com/success-stories/jennifer/" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success-Story02.png?v=1702383277" alt="img">
                    <h4>“After 7 Months of Fertility Treatments, I got pregnant in just 1 Month using Mira”</h4>
                    <p>Patricia P</p>
                    <a href="https://www.miracare.com/success-stories/patricia-p/" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success_Story03.png?v=1702383277" alt="img">
                    <h4>“Mira is a complete game changer that taught me things about my body”</h4>
                    <p>Kate B</p>
                    <a href="https://www.miracare.com/success-stories/kate-b" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success-Story04.png?v=1702383276" alt="img">
                    <h4>“We owe our family to Mira”</h4>
                    <p>Yvonne B</p>
                    <a href="https://www.miracare.com/success-stories/yvonne-b/" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success-Story05.png?v=1702383277" alt="img">
                    <h4>“I wish I had discovered Mira right at the beginning”</h4>
                    <p>Loren</p>
                    <a href="https://www.miracare.com/success-stories/loren/" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="customers-product-col">
                  <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Success-Story06.png?v=1702383277" alt="img">
                    <h4>“Mira helped me become my own advocate – in a way I never expected”</h4>
                    <p>Megan H</p>
                    <a href="https://www.miracare.com/success-stories/megan-h/" target="_blank" class="bf-bundle-arrow-btn"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/bf-arrow-btn.svg?v=1698846246" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Customers Stories",
    "settings": [],
    "presets": [
      {
        "name": "Customers Stories"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}