<div class="full-width-cta padd-b-60"> 
  <div class="container">
    <div class="consultation-inner">
                    <div class="panorama-lab-test-heading-1">
                        <h2>Support your fertility plans with science</h2>
                    </div>
                    <p>Reach your fertility goals faster. Say goodbye to guesswork and<br> hello to confident decisions.</p>
                    <div class="bf-bundle-banner-btn">
                        <a id="order_now_button" href="javascript:void(0)" class="bf-add-cart-btn btn-custom button">Order Now</a>
                    </div>
                </div>
  </div>
</div>
{% schema %}
  {
    "name": "Full Width CTA",
    "settings": [],
    "presets": [
      {
        "name": "Full Width CTA"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}