<div class="consultation-cta">

  <div class="container">
    <div class="consultation-inner">
      <div class="consultation-img"><img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/Avators.png?v=1703628698"></div>
                    <div class="panorama-lab-test-heading-1">
                        <h2>Is Mira right for you? Get guidance from a fertility coach now</h2>
                    </div>
                    <p>Book a 45-minute virtual consultation and develop a personalized plan to boost your fertility.</p>
                    <div class="bf-bundle-banner-btn">
                        <a href="/products/coaching" class="bf-add-cart-btn btn-custom button" target="_blank">Book a consultation</a>
                    </div>
                </div>
  </div>
</div>
{% schema %}
  {
    "name": "Consultation CTA",
    "settings": [],
    "presets": [
      {
        "name": "Consultation CTA"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}