<div class="installments">
  <div class="container">
    <div class="installments-inner">
    <h2>Pay in 4 interest-free installments—from $20.67/mo</h2>
      <a href="#" class="bf-add-cart-btn btn-custom button">View plans</a>
    </div>
  </div>
  
</div>


{% schema %}
  {
    "name": "Installments",
    "settings": [],
    "presets": [
      {
        "name": "Installments"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}