<div class="cards-3-columns padd-b-60 padd-t-60">
<div class="wands-inside-product-row">
        <div class="container">
          <div class="bf-bundle-page-title">
            <h2>Using Mira is easy</h2>
        </div>
            <div class="row">
                <div class="col-md-4">
                  
                    <div class="inside-bundle-item bf-light-grey-bg">
                      <div class="inside-sec-img">
                            <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/using_mira01.jpg?v=1703623298" alt="">
                        </div>
                        <div class="inside-bundle-item-top">
                            <h3>Step 1</h3>
                            <p>Dip the test wand into urine for 10-20 seconds.</p>
                        </div>
                       
                        
                    </div>
                </div>

                     <div class="col-md-4">
                  
                    <div class="inside-bundle-item bf-light-grey-bg">
                      <div class="inside-sec-img">
                            <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/using_mira02.jpg?v=1703623298" alt="">
                        </div>
                        <div class="inside-bundle-item-top">
                            <h3>Step 2</h3>
                            <p>Insert the wand into the Mira Hormone Monitor.</p>
                        </div>
                      
                        
                    </div>
                </div>

                     <div class="col-md-4">
                  
                    <div class="inside-bundle-item bf-light-grey-bg">
                      <div class="inside-sec-img">
                            <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/using_mira03.jpg?v=1703623298" alt="">
                        </div>
                        <div class="inside-bundle-item-top">
                            <h3>Step 3</h3>
                            <p>Your hormone results will automatically sync with the Mira App in 21 minutes.</p>
                        </div>
                       
                        
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Cards 3 Columns",
    "settings": [],
    "presets": [
      {
        "name": "Cards 3 Columns"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}