<div class="doctors-about-mira experts-mira-sec doctors-say-mira-sec padd-t-b-30">
    <div class="container">
        <div class="experts-mira-inner">
            <div class="heading-1 text-center">
                <h4>What doctors are saying about Mira</h4>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="doctors-say-mira-img">
                        <img src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/doctors_saying_mira.png?v=1701371922" alt="img" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div id="doctors-slider">
                        <div class="experts-col">
                            <div class="doctor-say-details">
                                <p>“Mira is a game-changing tool—it seems to be the best of all worlds to improve the fertility experience”</p>
                                <div class="doctor-say-name">Gary S. Nakhuda</div>
                                <div class="doctor-say-info">
                                    <span>
                                        MD, FACOG OB/GYN, Reproductive Endocrinology
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="experts-col">
                            <div class="doctor-say-details">
                                <p>“Mira has provided clinical insight I have never had access to before”</p>
                                <div class="doctor-say-name">Erin Foran Wolff</div>
                                <div class="doctor-say-info">
                                    <span>
                                        MD, FACOG OB/GYN, Reproductive Endocrinology
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="experts-col">
                            <div class="doctor-say-details">
                                <p>“As a health provider, I find that Mira’s quantitative measures far outweigh qualitative over-the-counter kits”</p>
                                <div class="doctor-say-name">Meir Olcha</div>
                                <div class="doctor-say-info">
                                    <span>
                                        MD, FACOG, OB/GYN, Reproductive Endocrinology
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="experts-col">
                            <div class="doctor-say-details">
                                <p>“Mira fills a need that we, as women's health care providers, did not know existed”</p>
                                <div class="doctor-say-name">Kara McElligott Park</div>
                                <div class="doctor-say-info">
                                    <span>
                                        MD, MPH, MMCI, OB/GYN, NAMS, Certified Menopause Practitioner
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Doctors About Mira",
    "settings": [],
    "presets": [
      {
        "name": "Doctors About Mira"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}