<div class="quality-3-icons">
<div class="quality-matters-sec">
    <div class="container">
        <div class="section-title">
            <h2>We take quality seriously</h2>
        </div>
        <div class="quality-matters-img-outer">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="quality-matters-col">
                        <div class="quality-matters-img">
                            <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/seal-fda.svg?v=1707415026" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="quality-matters-col">
                        <div class="quality-matters-img">
                            <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/seal-fsa.svg?v=1707415026" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="quality-matters-col">
                        <div class="quality-matters-img">
                            <img class="img-col" src="https://cdn.shopify.com/s/files/1/0777/1006/5971/files/seal-best.svg?v=1707415026" alt="img">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="quality-matters-caption text-center">
            <p>* According to the <a href="#">Best of The Bump Award 2023</a> “Best Ovulation Tests”</p>
        </div>
    </div>
</div>
</div>

{% schema %}
  {
    "name": "Quality 3 Icons",
    "settings": [],
    "presets": [
      {
        "name": "Quality 3 Icons"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}