<div class="marquee-1 green-marque-sec">
    <marquee width="100%" behavior="scroll">
        <p>Over 80,000 people have chosen the Mira Hormone Monitor | Over 80,000 people have chosen the Mira Hormone Monitor | Over 80,000 people have chosen the Mira Hormone Monitor | </p>
    </marquee>
</div>
{% schema %}
  {
    "name": "Marquee 1",
    "settings": [],
    "presets": [
      {
        "name": "Marquee 1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}