<div class="haw-merch health-research-quote">
     <img class="girl-hand-up" src="https://cdn.shopify.com/s/files/1/0755/9620/2277/files/Girl_hand_up.png" alt="">
<p>We partnered with <a href="https://swhr.org" target="_blank"><span class="text-bg" style="background:#B9DBCB;">The Society for Women’s Health Research (SWHR)</span></a>, a non-profit organization that shares our mission to improve women’s health through science and education. When you buy Mira merch, 30% of the proceeds go to supporting SWHR.</p>
</div>
{% schema %}
  {
    "name": "HAW Merch",
    "settings": [],
    "presets": [
      {
        "name": "HAW Merch"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}