<div class="max-kit-faq faq-sec padd-b-60 panorama-faq">
    <div class="container">
        <div class="heading-1">
            <h2>FAQ</h2>
        </div>
        <div class="question-col">
            <div id="accordion-2" class="accordion accordion-sec">
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d1">
                        <a href="javascript:void(0)" class="card-title">
                            When and how often should I test?
                        </a>
                    </div>
                    <div id="d1" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>Our scientists recommend you to test on cycle days 3 through 5 and only once during your menstrual cycle. You can repeat the test during the next menstrual cycle or after several cycles to monitor any treatments you are undergoing or your overall health.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d2">
                        <a href="javascript:void(0)" class="card-title">
                            Is it easy to take the Mira Panorama lab test?
                        </a>
                    </div>
                    <div id="d2" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>Yes! You will receive detailed instructions about how to perform the test and how to mail your sample to the lab. Here’s a <a href="https://miracare.com/assets/lab_test_instruction.mp4" target="_blank">quick video</a> showing you how it’s done. If you still have questions, you can reach out to our support team.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d3">
                        <a href="javascript:void(0)" class="card-title">
                            How long does it take to get my results?
                        </a>
                    </div>
                    <div id="d3" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>After your sample arrives at the lab, your results will be available on your Mira Personal Account within 2-3 business days.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d4">
                        <a href="javascript:void(0)" class="card-title">
                            Can this test be purchased in all US states?
                        </a>
                    </div>
                    <div id="d4" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>This test is available in all US states except New York.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d5">
                        <a href="javascript:void(0)" class="card-title">
                            Can I take this test if I’m on birth control?
                        </a>
                    </div>
                    <div id="d5" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>If you’re currently on hormonal birth control, your AMH, testosterone, and prolactin results can be skewed. But if you have an IUD, it won’t affect them.</p>
                        </div>
                    </div>
                </div>
              <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d6">
                        <a href="javascript:void(0)" class="card-title">
                            Does insurance cover hormone testing?
                        </a>
                    </div>
                    <div id="d6" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>Health insurance doesn’t cover hormone testing, but you can get a refund through your HSA or FSA benefits. Learn more <a href="https://help.miracare.com/en_us/how-do-i-get-reimbursed-if-i-can't-use-my-hsafsa-card-to-purchase-mira-H1Ds9aMBo" target="_blank">here</a>.</p>
                        </div>
                    </div>
                </div>
              <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#d7">
                        <a href="javascript:void(0)" class="card-title">
                            Can I take this test if I’m pregnant or breastfeeding?
                        </a>
                    </div>
                    <div id="d7" class="card-body collapse" data-parent="#accordion">
                        <div class="accordion-link-col">
                            <p>If you are pregnant or breastfeeding, we do not recommend taking this test, as the recommendations may not be suitable.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Panorama FAQ",
    "settings": [],
    "presets": [
      {
        "name": "Panorama FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}