<!-- HTML Start -->

<div class="brew-use-sec grey-sec-bg padd-t-b-100">
  <div class="container">
    
  <div class="row">
   
    <div class="col-md-6">
      <div class="brew-use-info">
        
  <h3>How to Brew</h3>
       
       <p>Pop one of Mira’s Fertility Tea bags into your mug, pour over boiling water, and stir. Wait two minutes for the best taste, and enjoy.</p>

     
       
       <p>Store in a dry place at room temperature. Fasten the zipper after opening.
</p>
      </div>
    </div>


<div class="col-md-6">
      <div class="brew-use-info">
        
  <h3>When to use</h3>
       
       <p>Drink Mira’s Fertility Tea to improve your fertility, balance your hormones, and as a natural support for your fertility goals.</p>

     
       
       <p>Do not drink during your period. Not intended for use during pregnancy or lactation.</p>
      </div>
    </div>
    
  
    
  
  
  </div>
  
  </div>
  </div>
<!-- HTML End -->

{% schema %}
  {
    "name": "Tea Brew And Use",
    "settings": [],
    "presets": [
      {
        "name": "Tea Brew And Use"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
