<div class="how-to-different-sec padd-t-b-100 perfect-course-sec perfect-course-new"> 
   <div class="container">
      
      <div class="row">
        <div class="col-lg-5">
          <div class="how-different-img">
            <img class="how-different-image" src="{{ 'perfect_course_new.png' | file_img_url: '' }}" alt="img">
            
          </div>
        </div>
         <div class="col-lg-7">
            <div class="how-different-col">
            
         <h3>This course is perfect for you if</h3>
     
               <ul>
                  <li>You’re planning to start a family in the future</li>
                  <li>You’ve tried conceiving for a long time but have yet to succeed</li>
                  <li>You want to start trying to conceive sooner rather than later</li>
                  <li>You have a lot of questions about fertility and want to stay informed 
for the future</li>
                 <li>You want to nourish your body and mind with innovative fertility information</li>
               </ul>
            </div>
         </div>
        
      </div>
   </div>
</div>


{% schema %}
  {
    "name": "TTC Course Perfect",
    "settings": [],
    "presets": [
      {
        "name": "TTC Course Perfect"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}