<div class="ttc-video-sec ttc-course-inline padd-b-100">
  <div class="container">  
      <div id="om-d0y3lqkox5x8syeavgfq-holder"></div>
  </div>
</div>

{% schema %}
  {
    "name": "TTC Free Lesson",
    "settings": [],
    "presets": [
      {
        "name": "TTC Free Lesson"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
