<div class="video-home-sec ttc-video-sec cc-cup-video-sec padd-t-b-100"> 
<div class="container">  

  <div class="video-home-inner">  

   
            
   
    <img src="{{ 'TTC_Video_img.jpg' | file_img_url: '' }}" alt="img" class="lube-video-box">
    <div class="video-home-text">
      <h3>Learn From 8 Doctors, OBGYNs, Fertility Experts, And Moms</h3>
     
      <a href="javascript:void(0)" class="btn-custom btn-pink btn-lg mira_video" data-video="VboQbuzcvzY">Watch Now <img src="{{ 'Play.svg' | file_url }}" alt="icon img"></a>
    </div>
  </div>

</div>

</div>


{% schema %}
  {
    "name": "TTC Video Cta",
    "settings": [],
    "presets": [
      {
        "name": "TTC Video Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
