<div class="template_section_video_light_box">
  <div class="close_light_box">CLOSE</div>
  <div class="close_light_box closing_area"></div>
  <div class="template_section_video_light_box_content">
    <div class="video_holder">
      <div class="mira_popup_video">
        <iframe></iframe>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Video Popup",
    "settings": [],
    "presets": [
      {
        "name": "Video Popup"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
