<div class="which-kit-for-you white-sec-bg padd-t-b-100">
   <div class="container">
      <h3>Which kit is right for you?</h3>
      <p>Need help choosing your first kit? We're here to help. Compare all Mira kits below.</p>
      <div class="btn-row-globel text-center padd-t-40">
         <a href="/pages/compare-kits" target="_blank" class="btn-custom btn-pink btn-lg" aria-describedby="a11y-external-message">Compare  Kits</a>
      </div>
   </div>
</div>

{% schema %}
{
"name": "Which Kit Right For You",
"settings": [],
"presets": [
  {
    "name": "Which Kit Right For You"
  }
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}