<div class="resent-sec resent-four-col-slider padd-t-b-100">
   <div class="container">
      <div class="heading-1">
         <h2>Why Track Estrogen and LH together?</h2>
         <p>Estrogen is an integral part of the fertility process. Tracking both hormones allows detecting the full fertile window and ovulation. These hormone levels are related to IVF, 
            menopause, hormone imbalances such as PCOS, and other conditions. They are more than fertility tracking.
         </p>
      </div>
      <div id="resent-post-slider-four" class="arrow-slider-nav">
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img loading="lazy" src="{{ 'why-track1.png' | file_img_url: '' }}" alt="icon img"></div>
               <p>
                  <a href="#">Battling infertility and hormone imbalance</a>
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"><img loading="lazy" src="{{ 'why-track2.png' | file_img_url: '' }}" alt="icon img"></div>
               <p><a href="#">Diagnose menstrual problems</a></p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"><img loading="lazy" src="{{ 'why-track3.png' | file_img_url: '' }}" alt="icon img"></div>
               <p>
                  <a href="#">Double your chances of getting pregnant</a>
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img loading="lazy" src="{{ 'why-track4.png' | file_img_url: '' }}" alt="icon img"></div>
               <p>
                  <a href="#">Monitor all your hormones to ensure conception in a timely fashion</a>
               </p>
            </div>
         </div>
      </div>
      <div class="btn-row-globel text-center padd-t-40"><a id="order_now_button" href="javascript:void(0)" class="btn-custom btn-pink btn-lg">Order Now</a></div>
   </div>
</div>
{% schema %}
  {
    "name": "Why Track Estrogen LH",
    "settings": [],
    "presets": [
      {
        "name": "Why Track Estrogen LH"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}