<div class="can-cup-help-sec why-track-both white-sec-bg padd-t-100">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h4>Why Track both E3G and LH?</h4>
                <p>E3G is a metabolite of estrogen. It’s an essential hormone in your body’s fertility. By combining LH (luteinizing hormone) and E3G readings, you pinpoint your full fertile window and ovulation. E3G and LH are related to IVF, menopause, and hormone imbalances such as PCOS. By tracking them, you’re getting more out of your hormone tracking—you’re getting full reproductive health insights.  
          </p>
          <ul>
            <li>Boost your chances of conceiving by 200%</li>
            <li>Battle infertility and hormone imbalance</li>
<li>Quickly diagnose menstrual issues</li>
          </ul>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-img">
               <img class="discover-image" src="{{ 'why_track_e3g.svg' | file_url }}" alt="img">
            </div>
         </div>
      </div>
   </div>
</div>



{% schema %}
  {
    "name": "Why Track Both E3g Lh",
    "settings": [],
    "presets": [
      {
        "name": "Why Track Both E3g Lh"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
