<div class="why-exseed-sec why-test-yo">
     <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="discover-info">
         
      <h3>Why Test At-Home with YO?</h3>
   <div class="readmore-on-mobile">
          <p>In cases of infertility, the man is a contributing factor in approximately 50% of cases. A semen analysis is conducted to test a man’s sperm count (concentration), moving sperm (motility), normally shaped sperm (morphology), and other parameters. 
          </p>
          <p><strong>One of the most important factors in achieving a pregnancy is the number of motile sperm in the sample. 
            If the sperm cannot swim to the egg, natural pregnancy is not possible.</strong></p>
          <p>The YO Home Sperm Test analyzes your motile sperm concentration (how many are moving) and sperm quality (YO Score) and compares your results to laboratory standards and to other men who have fathered children. 
            You will also receive a video recording of your sample as part of the YO Test.</p>
        </div>
          <div class="read-more-btn"><a href="#">Read More <img src="{{ 'green_down_arrow.svg' | file_url }}" alt=""></a></div>
          </div>
      </div>
      <div class="col-lg-5">
        <div class="discover-img">
         
           <img class="discover-image" src="{{ 'test_components_Kit.png' | file_img_url: '' }}" alt="img">
          
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "YO Why Test",
    "settings": [],
    "presets": [
      {
        "name": "YO Why Test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
