<div class="product-detail-tab what-inside-tabs inside-yo-tab padd-t-b-100">
   <div class="container">
      <div class="product-kit-tabs">
         <ul class="nav nav-pills" role="tablist">
            <li class="nav-item active"> <a href="#tab01" class="nav-link" data-toggle="pill">What’s Inside</a></li>
            <li class="nav-item"> <a href="#tab02" class="nav-link" data-toggle="pill">Product Details</a></li>
            <li class="nav-item"> <a href="#tab03" class="nav-link" data-toggle="pill">Warranty/Return Policy</a></li>
           <li class="nav-item"> <a href="#tab04" class="nav-link" data-toggle="pill">Order Delivery Times</a></li>
       
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" id="tab01">
               <div class="row">
                 <div class="col-lg-6 order-lg-2">
                     <div class="pro-kit-tab-text">
                       <h3><span>&bull;</span> Yo Male Fertility Sperm Test X 2</h3>
                       
                       <div class="list-text-pro-kit">
                           <div class="list-title"><span>1</span> 2 Pipettes</div>
                        </div>
                       <div class="list-text-pro-kit">
                           <div class="list-title"><span>2</span> 2 Vials of Liquefaction Powder</div>
                        </div>
                       <div class="list-text-pro-kit">
                           <div class="list-title"><span>3</span> 2 Collection Cups</div>
                        </div>
                       <div class="list-text-pro-kit">
                           <div class="list-title"><span>4</span> 2 Testing Slides</div>
                        </div>
                        <h3><span>&bull;</span> Power Cable and Accessories</h3>
                        <h3><span>&bull;</span> Product Insert</h3>
                     </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                     <div class="pro-kit-tab-img padd-r-0 mobile-show">
                        <div class="pro-kit-thumb border-col"> <img src="{{ 'yokit_img.png' | file_img_url: '' }}" alt="img"></div>
                       <div class="product-thumb-note"><p>Not Recommended for Post Vasectomy Semen Analysis. Smart Device Not Included.</p></div>
                     </div>
                  </div>
                  
               </div>
            </div>
      
            <div class="tab-pane" id="tab02">
               <div class="tab-content-globel">
                 
                 <h3>Compatibility</h3>
                 <ul>
                   <li>iPhone | IOS 11 and Above</li>
                   <li>Android | Android 6 and Above</li>
                   <li>PC | Windows 7 and Above</li>
                   <li>MAC | OS Version 10.14 (Mojave) and Above</li>
                 </ul>
                 
                 <h3>Service and Support</h3>
                 <ul>
                  <li><a href="https://yospermtest.com/faq/" target="_blank">www.yospermtest.com/faq</a></li>
                  <li><a href="https://yospermtest.com/support/" target="_blank">www.yospermtest.com/support</a></li>
                  <li><a href="https://yospermtest.com/contact/" target="_blank">www.yospermtest.com/contact</a></li>
                  <li><a href="https://yospermtest.com/partnership/" target="_blank">www.yospermtest.com/partnership</a></li>
                </ul>

               </div>
            </div>
            <div class="tab-pane" id="tab03">
                  
              <div class="tab-content-globel">
                  <div class="tab-text-row">
                     <h3>YO Sperm Test will exchange/refund based on the terms of this EXCHANGE and REFUND POLICY provided:</h3>
                     <div class="list-text-pro-kit">
                          
                       <ul>
                         <li>The claim is made within 30 days of purchase.</li>
                         <li>The information provided is complete and accurate.</li>
                         <li>The product has not been opened or damaged.</li>
                         <li>Submitted evidence supports the claim that the goods are unused.</li>
                         <li>The product has not, in our opinion, been mishandled or used for other than the intended one noted on the package labeling.</li>
                       </ul>
                     </div>
                  </div>
               </div>
           
            </div>
           
                <div class="tab-pane" id="tab04">
               <div class="tab-content-globel">
                 
                  
                  <div class="tab-text-row">
                     <div class="list-text-pro-kit">
                 	   <p>All orders are processed before 12 Noon (PST) Monday through Friday (excluding holidays) after you have received your order confirmation email. You will receive another notification when your order has shipped which includes tracking details.</p>
                       <h3>Domestic Shipping Rates and Estimates</h3>
                       <p>Shipping rates and times for your order will be calculated and displayed during the checkout process.</p>
                       <h3>International Shipping</h3>
                       <p>We offer international shipping to most countries outside the United States of America. Shipping rates and times for your order will be calculated and displayed during the checkout process. Your order may be subject to import duties and taxes (including VAT), which are incurred once a shipment reaches your destination country. YO Home Sperm Test is not responsible for these charges if they are applied and are your responsibility as the customer. Please check local laws and regulations regarding the purchase and use of “at home sperm test kits” to make sure you are able to import the product successfully. YO Home Sperm Test is not responsible for regulatory considerations in your country and we strongly recommend reviewing local requirements before purchase.</p>
                       <h3>How do I check the status of my order</h3>
                       <p>When your order has shipped, you will receive an email notification from us which will include a tracking number you can use to check its status. Please allow 48 hours for the tracking information to be updated by the carriers (USPS, FedEx, UPS). If you haven’t received your order within 10 days of receiving your shipping confirmation email, please contact us at <a href="mailto:support@yospermtest.com" target="_blank">support@yospermtest.com</a> with your name and order number, and we will look into it for you.</p>
                       <h3>Shipping to P.O. boxes</h3>
                       <p>Some carriers have limitations around shipping to P.O. Boxes (FedEx). Please choose the USPS option for shipping to P.O. Boxes.</p>
                       
                        </div>
                  </div>

               </div>
            </div>
           
           
           
         </div>
      </div>
   </div>
</div>

{% schema %}
  {
    "name": "YO Whats Inside",
    "settings": [],
    "presets": [
      {
        "name": "YO Whats Inside"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
