@media screen and (max-width: 767px) {


    .row {
        display: block;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-price-col {
        flex-wrap: nowrap;
    }

    .product-col .btn-custom {
        padding: 0px 20px;
        font-size: 14px;
    }

    .new-layout-listing .product-listing-sec .plat-price {
        font-size: 14px;
    }

    .plat-price {
        margin-right: 20px !important;
    }

    .new-layout-listing .accessories-product-list .product-col p {
        margin-bottom: 0;
        min-height: 46px;
    }

    .accessories-product-list .product-col h4 {
        min-height: 46px;
    }

    .new-layout-listing .product-col h4 {
        font-size: 18px;
    }

    .badge-row-sec .product-col {
        padding-top: 24px;
        margin-bottom: 10px;
    }

}

/* CSS for Dual columm abtest end */