body:not([data-pdm-estimated-delivery]) .pdm-estimated-delivery {
  display: none;
}

.pdm-estimated-delivery {
  margin-top: 24px;
  margin-bottom: 24px;
}

.pdm-estimated-delivery__info {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px solid rgba(221, 224, 228, 1);
  background-color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 16px;
}

.pdm-estimated-delivery__info .delivery-copy {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.pdm-estimated-delivery__info .delivery-copy img {
  margin-right: 8px;
}

.pdm-estimated-delivery__info #dates {
  color: rgba(63, 193, 95, 1);
  margin-bottom: 0;
}

.pdm-estimated-delivery .disclaimer {
  text-align: center;
  margin-top: 16px;
  font-size: 12px;
  color: #667789;
}
