<div class="mira-plan-sec which-kit-pricing">
    <div class="container">
        <div class="heading-1 text-center">
            <h2>Which kit is right for you?</h2>
        </div>
        <div id="compare-plan-slider" class="row owl-carousel">
            <div class="col-4 basic-plan">
                <div class="mira-plan-col plan-item-1">
                    <div class="kit-top-head">
                        <div class="kit-top-head-inner">
                            <div class="tag-col">Basic</div>
                            <h4>Mira Starter Kit</h4>
                            <div class="price-text">{{ all_products['fertility-plus-starter-kit'].price | money }}</div>
                        </div>
                    </div>
                    <div class="kit-price-body">
                        <div class="kit-price-text-1">
                            <p>Includes 10 Mira Fertility Plus Test Wands (LH+E3G)</p>
                        </div>
                        <div class="grey-bar">Perfect for you if:</div>
                        <ul>
                            <li>You’re interested in Mira and curious to see how it works.</li>
                            <li>You want to understand your hormones on a deeper level.</li>
                            <li>You’re ready to leave traditional OPKs behind for a guess-work-free approach.</li>
                            <li>You want to keep it simple and measure 2 hormones (LH + E3G).</li>
                        </ul>
                        <div class="grey-bar">Great for: </div>
                        <div class="kit-price-text-2">
                            <p>those looking for fertility clarity. The Mira Plus Starter Kit predicts your ovulation and most fertile days through lab-grade hormone tracking.</p>
                        </div>
                        <a href="/products/fertility-plus-starter-kit" class="btn-custom btn-pink btn-md">View details</a>
                    </div>
                </div>
            </div>
            <div class="col-4 bestseller-plan">
                <div class="mira-plan-col plan-item-1">
                    <div class="kit-top-head">
                        <div class="kit-top-head-inner">
                            <div class="tag-col">Bestseller</div>
                            <h4>Mira Confirm Bundle</h4>
                            <div class="price-text">{{ all_products['mira-plus-confirm-bundle'].price | money }}</div>
                        </div>
                    </div>
                    <div class="kit-price-body">
                        <div class="kit-price-text-1">
                            <p>Includes 10 Mira Fertility Plus Test Wands (LH+E3G) + 10 Mira Confirm (PdG) Test Wands</p>
                        </div>
                        <div class="grey-bar">Perfect for you if:</div>
                        <ul>
                            <li>You want to predict and confirm your ovulation.</li>
                            <li>You want to pinpoint your fertile and infertile days</li>
                            <li>You want the complete hormone picture—no questions asked (LH+E3G+PdG).</li>
                            <li>You are ready to make the switch from traditional OPKs to personalized, lab-grade results.</li>
                        </ul>
                        <div class="grey-bar">Great for: </div>
                        <div class="kit-price-text-2">
                            <p>those looking to get a complete fertility picture by testing 3 hormones: PdG, E3G, and LH. Predict, confirm, and understand your hormones to make informed decisions.</p>
                        </div>
                        <a href="/products/mira-plus-confirm-bundle" class="btn-custom btn-pink btn-md">View details</a>
                    </div>
                </div>
            </div>
            <div class="col-4 ideal-plan">
                <div class="mira-plan-col plan-item-1">
                    <div class="kit-top-head">
                        <div class="kit-top-head-inner">
                            <div class="tag-col">Ideal</div>
                            <h4>Mira Super Bundle
                            </h4>
                            <div class="price-text">{{ all_products['fertility-plus-starter-kit-b'].price | money }}</div>
                        </div>
                    </div>
                    <div class="kit-price-body">
                        <div class="kit-price-text-1">
                            <p>Includes 30 Mira Fertility Plus Test Wands (LH+E3G)</p>
                        </div>
                        <div class="grey-bar">Perfect for you if:</div>
                        <ul>
                            <li>You’re ready to dive into the Mira experience but with more.</li>
                            <li>You’re ready to replace traditional OPKs AI-powered science.</li>
                            <li>You want to keep it simple and measure 2 hormones (LH + E3G).</li>
                            <li>You want to ensure you reach your goals and get 30 Plus Wands to last you 1-2 cycles.</li>
                        </ul>
                        <div class="grey-bar">Great for:</div>
                        <div class="kit-price-text-2">
                            <p>those who want to save on replacement wands and test during more cycles! Ideal if you have PCOS, hormone imbalances, or irregular cycles.</p>
                        </div>
                        <a href="/products/fertility-plus-starter-kit-b" class="btn-custom btn-pink btn-md">View details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>