<div class="hero-container">
  <div class="hero_section">

    <img class="line l_2" src="{{ 'review_banner_line.svg' | file_url }}" alt="">

    <div class="hero_section_content">
      <div class="left">
        <div class="group">
          <h1 class="section_title">What Our<br> Customers Say</h1>

    
        </div>
      </div>
      <div class="right">
        <div class="image_holder">
          <img class="image" src="{{ 'review_top_banner.png' | file_img_url: '' }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width yotpo-seo-page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte reviews-container">
		<script type="text/javascript">
          (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,
              e.src="//staticw2.yotpo.com/3YnF3D55MXKMbcGXWSN9Iv6o9jlT8bIl31VTGd0y/widget.js";var t=document.getElementsByTagName("script")[0];
              t.parentNode.insertBefore(e,t)})();
          </script>
          <div id='yotpo-testimonials-custom-tab'></div>
      </div>
    </div>
  </div>
</div>
