{% layout none %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% style %} body { margin: 0; } {% endstyle %}
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/3YnF3D55MXKMbcGXWSN9Iv6o9jlT8bIl31VTGd0y" async></script>
</head>

<body>
    <div class="yotpo-widget-instance" data-yotpo-instance-id="458313" widget-type="SubscriptionsCustomerPortal"></div>
</body>

</html>